[2016-08-16 23:58] lboxell opened #1 "Remove SVN info in start_make_log"
start_make_log is causing issues when checking for SVN info.

[2016-08-18 20:16] #1 closed, assigned to lboxell

[2016-08-24 17:35] lboxell opened #6 "Update PyPI"
@M-R-Sullivan,
 We never updated our PyPI package after https://github.com/gslab-econ/admin/issues/61. Could you do this?

[2016-08-25 16:48] #6 closed, assigned to M-R-Sullivan

[2016-08-30 17:30] qlquanle opened #8 "Follow-up to gslab-econ/admin#67: Update PyPI with gslab_scons library"
As discussed [here](https://github.com/gslab-econ/template/pull/7#issuecomment-243500575), PyPI should be updated **after** gslab-econ/admin#67 has closed.

Will start after sprint and gslab-econ/admin#67 has closed

EDIT: I (LB) think this task should include updating the large_template to use the gslab_scons library from PyPI (or a follow up task should be created to implement this).

[2016-09-29 15:58] arosenbe opened #9 "Change tempfile location in runprogramdirective.py"
@paultfriedrich1, @michaelstepner, and Ande uncovered a bug in the current PyPI version of `gslab_tools`.

When more than one `make.py` runs at the same time, they may open, write to, read from, and remove the same temporary text file at the same time. An issue arises when one `make.py` removes the temporary text file while another is still trying to write to or read from it.

This bug was introdu

[2016-09-30 00:22] #9 closed, assigned to arosenbe

[2016-10-12 18:17] lboxell opened #13 "Modify gencat to allow arbitrary subgrouping for zip files"

[2016-10-14 18:44] #13 closed, assigned to lboxell

[2016-11-04 20:05] lboxell opened #15 "Update templates to use gslab_scons module"
Follow up to #8.

[2016-11-04 20:12] lboxell opened #16 "Team review of gslab_scons module"
Follow up to https://github.com/gslab-econ/template/issues/16. Per https://github.com/gslab-econ/admin/issues/67#issuecomment-243509241 and https://github.com/gslab-econ/template/pull/7#issuecomment-243500575, we would like to have everyone review the gslab_scons module as time permits.

After https://github.com/gslab-econ/template/issues/16, everyone should be able to download the gslab_scons mod

[2016-11-04 23:13] #8 closed, assigned to lboxell, qlquanle

[2016-11-04 23:15] #15 closed, assigned to lboxell

[2016-11-04 23:25] arosenbe opened #17 "Write unit tests for gencat"
This task should write unit tests for the methods in the `gencat` abstract class. The goal is to btring the module up to version 1.0.0.

[2016-11-07 20:55] lboxell opened #18 "Add os to release.py"
Add 'import os' to release.py in gslab_scons.

[2016-11-07 21:19] #18 closed, assigned to lboxell

[2016-11-09 22:16] #17 closed, assigned to arosenbe

[2016-11-10 22:00] lboxell opened #21 "Fix gencat release"
Remove extra layer so pypi recognizes it.

[2016-11-10 22:26] #21 closed, assigned to lboxell

[2016-11-11 17:55] lboxell opened #23 "Create Lyx scanner"
See https://github.com/gslab-econ/template/issues/19#issuecomment-259721983 and http://www.scons.org/doc/2.0.1/HTML/scons-user/c3833.html. Should be implemented in gslab_scons.

[2016-11-11 20:43] lboxell opened #24 "Reorganise repository following review"
- Restructure repo to allow for installation from pip via GitHub. Remove references to PyPI. This will most likely include making the repo public after checking with @gentzkow and @jmshapir to confirm there isn't anything here that we want to hide.
 * We should not use `from xx import *`; switch to `import xx` or `from xx import specific-commands`
 * We should write all readmes, documentation file

[2016-11-11 20:50] lboxell opened #25 "Improve unit testing"
Following python template suggestion from #24, update the testings along with the requirements below:
* If our use of unittests is out of line with standard practices, there are good reasons to switch, and switching is low cost, propose a new solution and implement after confirming with rest of team. [Switching for some modules only may be an option. I.e., we probably don't want to re-write gslab_

[2016-11-11 20:52] lboxell opened #26 "Allow command line arguments to be passed to builder calls in gslab_scons"
In congress_text, we pass congress and years to python via the command line. This prevents us from using the current implementation of build_python. We should modify the builder tools to allow command line arguments to be passed.

[2016-11-11 20:54] lboxell opened #27 "Create export builders"
Create gslab_scons builders for SVN export and gdrive downloads.

This task should involve updating the template appropriately (or creating a new task to do this) with our new build/externals protocol.

It might be best to wait on this task until https://github.com/gslab-econ/admin/issues/78 is finished.

[2016-11-11 21:07] lboxell opened #28 "gslab_scons restructure"
Follow package organization established in #24.

* For check_code_extension(), why not just pass it the extension directly rather than the software name; so we could say in build.py:

[code]

and in misc.py

[code]

* Having `target_file` in the code makes it look like we require there to be a single target file. Really, we're only using this to pick a directory for the log file. So I might drop t

[2016-11-11 21:09] lboxell opened #29 "Implement "paths.txt" solution"
See comment below.

[2016-11-11 23:52] lboxell opened #30 "Fix tablefill/check_source_code_extension"

[2016-11-12 00:17] #30 closed, assigned to lboxell

[2016-11-16 16:22] lboxell opened #33 "Create release.py"
See https://github.com/gslab-econ/template/issues/19#issuecomment-260826983. Should either live in gslab_python or at the root of the template and its helpers live in gslab_python.

See the next two comments also.

[2016-11-16 16:27] lboxell opened #34 "Create state of repo logger"
See https://github.com/gslab-econ/template/issues/19#issuecomment-260826983 and https://github.com/gslab-econ/template/issues/19#issuecomment-260829667. Should live in gslab_python and, by default, run after every scons run. Should be printed to sconstruct (or it's own) log file.

There should be some safety checks to ensure it doesn't take forever to run through millions of files and shouldn't do

[2016-11-21 19:18] #24 closed, assigned to M-R-Sullivan

[2016-11-21 22:55] #16 closed, assigned to gentzkow, jmshapir, lboxell, yuchuan2016, arosenbe, M-R-Sullivan, qlquanle

[2016-11-22 17:27] #25 closed, assigned to M-R-Sullivan

[2016-12-02 23:54] M-R-Sullivan opened #37 "Fix bug in build_stata.py"
@huntallcott and I found that the `build_stata()` builder wouldn't work on his Windows computer. It seems like the error arises from`platform` not being defined in its script. The goal of this issue is to fix the builder so that it runs on Windows computers.

[2016-12-03 00:48] stanfordquan opened #39 "Write Windows-specific builder unit tests"
Follow up from #37 a number of tests were found out to be incompatible with Windows machines. This task changes that.

[2016-12-04 00:56] #37 closed, assigned to qlquanle

[2016-12-07 19:03] stanfordquan opened #40 "gslab_scons.start_log() prevent terminal output"
Running the following code  prints nothing to the terminal on Win.

[code]

prints nothing to terminal, only log file.

We probably don't want to redirect Scons output entirely but duplicate, since otherwise this makes repo bugs difficult to track. Especially important is the fact that this method prevent user input even when `cmd` asks for it, since the prompt is redirected to a different file.

[2017-01-06 16:45] jmshapir opened #41 "Stata flavor"
Gang: I just made a fresh copy of the [template|https://github.com/gslab-econ/template] on my local machine and got all targets built successfully! It took a little time to get the configuration right but all the dependencies were clearly documented. This is great.

The only issue I ran into was with Stata flavor. Even though I have a (windows) environment variable set, the executable-finder logic

[2017-01-08 19:23] jmshapir opened #42 "Publicizing releases"
@lboxell @arosenbe @M-R-Sullivan @stanfordquan my reading is that the [template](https://github.com/gslab-econ/template) depends on gslab-python but that, since we deprecated support for PyPI, gslab-python's releases are no longer being made public.

Is that correct?

If so let's use this issue to discuss how best to publicize gslab-python. One option would be to make the whole repo public. Anothe

[2017-01-08 20:00] jmshapir opened #43 "Dependency on package "requests""
@lboxell @arosenbe @M-R-Sullivan @stanfordquan it looks like gslab-python depends on a package called "requests" that is not automatically installed by ```setup.py```.

Is this intended behavior?

[2017-01-10 15:09] #41 closed, assigned to qlquanle

[2017-01-11 18:43] M-R-Sullivan opened #45 "Review and improve gslab_scons unit tests"
In #36 (specifically, in [this comment](https://github.com/gslab-econ/gslab_python/pull/36#pullrequestreview-15982005)), we noted that the unit tests for `gslab_python`'s `gslab_scons` package should be reviewed and improved. The goal of this issue is to do so.

The tests currently take over half a minute to run. We should probably find a way to make them run faster.

[2017-01-11 23:32] lboxell commented on #42
Closing task.

Summary:
 - Repo is public.
 - Added link to license in repo readme.
 - Updated RA manual [here](https://github.com/gslab-econ/ra-manual/wiki/Repository-Organization/18d998180f2cc9157cc32c388ef503c972577cef)

[2017-01-11 23:32] #42 closed

[2017-01-12 00:27] stanfordquan commented on #40
I can confirm that Stdin lives. The only problem is that the user will not be prompted. I imagine that's a good work around.

[2017-01-12 00:28] stanfordquan commented on #40
[Test code for future stdin issues.](https://gist.github.com/stanfordquan/7675bcfe70de560e0ece3786ba6b043c)

[2017-01-12 00:43] #40 closed

[2017-01-13 02:03] lboxell commented on #34
Need to confirm that if you do `sconsign .sconsign.dblite` as the last step of the build process that it outputs the same thing as doing it after the build process has finished (up to being self-documenting).

[2017-01-14 00:19] stanfordquan commented on #39
Task on hold until #45 is done

[2017-01-18 04:14] stanfordquan commented on #33
With #36 pulled in, is this issue completed?

[2017-01-18 04:28] M-R-Sullivan commented on #33
@stanfordquan - No, as I still need to look into an error that @arosenbe encountered  in [this issue's /template/ pull request](https://github.com/gslab-econ/template/pull/21). If the completion of this issue is a prerequisite for a priority of yours, I can focus on resolving this error in coming work hours.

[2017-01-18 04:32] stanfordquan commented on #33
Not at all, don't worry. I looked over the commit history and looks like unit tests are done and dusted, so I don't need to work on that! Thanks.

[2017-01-18 17:03] M-R-Sullivan commented on #33
This issue has passed peer review at #36 and https://github.com/gslab-econ/template/pull/21. So I am closing it now.

**Summary**
- I released GSLab Tools 3.0.0, which adds functionality for making releases from SCons/GitHub repositories to GitHub and to Google Drive to `gslab_scons`. This functionality is described in [gslab_scons/README.md](https://github.com/gslab-econ/gslab_python/blob/master/

[2017-01-18 17:03] #33 closed

[2017-01-20 16:39] arosenbe commented on #43
A later commit overwrote the change I made in this issue: reopening to reimplement the change. See [here](https://github.com/gslab-econ/template/pull/26#issuecomment-274103638) for context.

[2017-01-20 16:45] arosenbe commented on #43
Now under PR at #48.

[2017-01-20 16:53] arosenbe commented on #43
Summary comment
  *  Add `requests` module as a dependency in `setup.py`.
  *  Ensure no other undocumented dependencies exist.

  *  Readd `requests` module as a dependency in `setup.py` after being overwritten by later commit.

[2017-01-20 16:53] #43 closed

[2017-01-20 21:32] yuchuan2016 commented on #23
On hold.

[2017-01-23 17:45] lboxell commented on #27
On hold.

[2017-01-23 22:41] lboxell commented on #26
Closing task.

Summary:
 - Updated builders to allow command line arguments to be passed.
 - Created follow up in https://github.com/gslab-econ/template/issues/28 to add example to template.
 - Made note about `mock` requirement for unit tests on readme.

[2017-01-23 22:41] #26 closed

[2017-01-24 20:56] lboxell commented on #27
Note we probably want a dropbox implementation of this.

[2017-01-25 18:07] lboxell commented on #34
Note that .sconsign.dblite is edited after the build finishes, so `sconsign .sconsign.dblite` isn't that informative.

[2017-01-25 18:54] lboxell commented on #34
@gentzkow @jmshapir @arosenbe @stanfordquan @yuchuan2016 @M-R-Sullivan:

The current output for the state_of_repo logger looks like [this](https://github.com/gslab-econ/template/blob/e02ee63f7bd7688cb7964570d7dd46bcd6a0f07e/state_of_repo.log).

I currently print two things: (1) GIT STATUS (last git commit and files that have been modified since then) and (2) The modification time and size of all f

[2017-01-25 19:10] jmshapir commented on #34
@lboxell this looks to me like the right balance of effort and reward for now. If printing the tree is very easy it would be a nice addition but it's also fine with me to leave it on the to-do list and move forward with this.

[2017-01-25 20:02] gentzkow commented on #34
I think this is a good place to stop on this for now.
--

Matthew Gentzkow
Professor of Economics
Stanford University

[2017-01-25 21:26] yuchuan2016 commented on #23
Summary:

Add a function in `gslab_scons.misc` #50 . Add two lines in `template/SConstruct` gslab-econ/template#29. Allow users to specify the extensions they want to scan in the `.lyx` file. The scanner is recursive.

Closing this task.

[2017-01-25 21:26] #23 closed

[2017-01-25 21:29] lboxell opened #52 "Add Dropbox interface module"
See https://github.com/gslab-econ/admin/issues/87#issuecomment-275005375. We'll want a dropbox module that can upload and download both files and folders (recursively) from a specific revision.

We'll then want to use these functions in gslab_scons for release and getting raw/externals, along with the ability to easily upload files to dropbox from command line.

[2017-01-26 17:45] lboxell commented on #52
@gentzkow, I'm working on setting up the dropbox interface and, in order to obtain an OAuth token for testing on our GSLab dropbox acct, I need to be an administrator. Is that something you can add me as for this?

[2017-01-26 18:05] gentzkow commented on #52
Sure. Should be done.
--

Matthew Gentzkow
Professor of Economics
Stanford University

[2017-01-26 18:21] lboxell commented on #52
@gentzkow, confirmed.

[2017-01-26 18:59] lboxell commented on #34
Closing task.

Summary:
 - Created new [release](https://github.com/gslab-econ/gslab_python/releases/tag/v3.0.3) that implmements a state of repo logger.
 - Added note about adding scons tree to wiki [outline](https://github.com/gslab-econ/gslab_python/wiki/Outline/d1cb8ababc2e6beba59bf4448455c24362c1e6ac).
 - Updated template [here](https://github.com/gslab-econ/template/commit/0b3d7901dfe330fd90

[2017-01-26 18:59] #34 closed

[2017-01-26 22:23] lboxell commented on #52
Note that using a person app and having the user created the token via the online interface works when you build the app to access the GSLab dropbox acct, so I actually won't need admin access (nor should anyone else).

[2017-01-27 00:25] lboxell commented on #52
@arosenbe:

Have you seen http://rclone.org/ before? Any reason you think we should create our own module instead of using rclone?

[2017-01-27 01:05] lboxell commented on #52
Was able to use it on RCC with the following installation (the instructions on their website don't work because they require sudo or GOPATH setup).

### RCC Installation

curl -O http://downloads.rclone.org/rclone-current-linux-amd64.zip
unzip rclone-current-linux-amd64.zip
cd rclone-*-linux-amd64
mkdir /home/$USER/.rclone/bin
cp rclone /home/$USER/.rclone/bin
chmod 755 /home/$USER/.rclone/bin/rcl

[2017-01-27 01:11] lboxell commented on #52
I was able to transfer ~25GB of files to RCC from dropbox in roughly 6 minutes.

[2017-01-27 01:21] lboxell commented on #52
@arosenbe,

Since you're the one who is most familiar with dropbox, I'm sending this to you to PR. My proposal is that we scrap gslab_dropbox and just use `rclone`.

Apparently, "we" were aware of rclone at [one point](https://github.com/gslab-econ/admin/blob/ebf273130485a4c13bfb20c8a52147c399b5ec2b/issues/34/admin-34.md) and [here](https://github.com/gslab-econ/admin/blob/22b39cc25fc3bab2cac55a75

[2017-01-27 02:32] lboxell commented on #52
Ownership transfer on drive is restricted to in-domain transfers. The below is the result of me tryign to transfer to Jesse:
<img width="577" alt="screen shot 2017-01-26 at 6 14 44 pm" src="https://cloud.githubusercontent.com/assets/13038185/22358464/2042f41a-e3f4-11e6-815a-67aa3ccb2573.png">

By default, you can only transfer one file at a time within domain. Though there appears to be a command-

[2017-01-27 16:27] lboxell commented on #27
See #52 where it looks we decided to go towards using rclone for our cloud storage management.

[2017-01-27 21:02] M-R-Sullivan commented on #45
Update: this is under peer review at #49

[2017-01-28 18:43] lboxell commented on #29
@stanfordquan, I'm going to take a stab at this today.

[2017-01-28 18:49] lboxell commented on #29
Notes:
 - Stata:
    - See [here](https://github.com/sergiocorreia/stata-misc/blob/75a8b251bec02ba590c862cc395c4b95077d8a95/yaml.ado) for a .ado file that seems to parse yaml files.
 - R: https://cran.r-project.org/web/packages/yaml/yaml.pdf
 - Python: [pyyaml](http://pyyaml.org/)

[2017-01-28 20:22] lboxell commented on #29
@gentzkow @jmshapir @arosenbe @stanfordquan @M-R-Sullivan @yuchuan2016.

My current proposed setup for our "paths.txt" solution can be seen [here](https://github.com/gslab-econ/template/pull/35/files) in the template. I was able to construct something without having to create any new modules/packages. The stata ado file is not the most refined, but it should work for our purposes.

Let me know if

[2017-01-28 20:47] jmshapir opened #53 "Incorporate matlab builder"
As far as I know we don't yet have a matlab builder for scons. I wrote a rudimentary one for my course.
It is attached here: [build_matlab.txt](https://github.com/gslab-econ/gslab_python/files/737134/build_matlab.txt)

The purpose of this issue is to improve it and fold it into our library.

I've assigned to everyone but feel free to shuffle around as you like.

[2017-01-28 22:17] jmshapir commented on #29
@lboxell the Stata/R libraries for yaml interaction seem nice to me.

[2017-01-30 01:49] gentzkow commented on #29
@lboxell: This looks very slick to me. Good work!

Matthew Gentzkow
Professor of Economics
Stanford University

[2017-01-31 04:30] arosenbe commented on #52
@lboxell, I've seen you demonstrate how well rclone works, but I'd like to try it for myself---locally,  on RCC, and on Sherlock. Maybe you could provide a markdown with installation and configuration settings. That would also give me a bit more to review.

[2017-01-31 16:45] lboxell commented on #52
@arosenbe,

Below is the information that I would think is necessary to house somewhere for someone who wants to use rclone. I'm not sure the optimal place to put this. The RA Manual + computer build sheet? I don't think it makes sense in the template because its not a requirement there.

Usage:
See [here](http://rclone.org/docs/)

Regular installation:
See [here](http://rclone.org/install/)

Clus

[2017-02-01 06:07] stanfordquan commented on #39
On hold with trans and politext tasks. Also need #45.

[2017-02-02 00:09] arosenbe commented on #52
I think the RA manual should have instructions and the computer build sheet should automate as much of the installation as feasible. It took me a few minutes to figure out the configuration procedure, so that might be nice to include in the RA manual. Same with the cluster installation.

I also tried all but the last line of the cluster installation on RCC and was unable to install rclone. Maybe y

[2017-02-02 01:22] lboxell commented on #52
@arosenbe,

I fixed the instructions, the error was simply because the code was trying to make directories recursively. It also works on Sherlock.

I don't really see the point of replicating what is on the rclone.org website in the RA manual. I can see adding a pointer to the rclone website in the RA manual and agree that we can add it to the computer build sheet (we can simply note it in https:/

[2017-02-02 01:26] arosenbe commented on #52
Cool. Sounds good. Cleared to close.

[2017-02-02 21:08] lboxell commented on #52
@jmshapir @gentzkow,

FYI, we found out in this task that Drive probably isn't as bad as we thought it was. Some of our issues seem to be fixed by switching from gdrive to rclone for our CLI with google drive.

However, there are still permission issues with drive that dropbox business takes care of (such as drive prohibiting permission transfers across domains [e.g., stanford --> brown] and not a

[2017-02-03 14:51] jmshapir commented on #52
@lboxell I'll defer to @gentzkow here but @gentzkow can let me know if he wants me to weigh in

[2017-02-03 17:02] lboxell commented on #53
Closing task.

Summary:
 - Created matlab builder and tested on mac. Jesse will test on matlab at some later point and open up a task if there are issues.
 - New release: https://github.com/gslab-econ/gslab_python/releases/tag/v3.0.4

[2017-02-03 17:02] #53 closed

[2017-02-04 01:23] lboxell commented on #27
See companion branch in template for testing https://github.com/gslab-econ/template/tree/export_testing. Currently have a preliminary implementation for rclone with an emitter that does `rclone ls` to obtain the targets. There are some bugs that still need to be worked out.

[2017-02-05 00:49] lboxell commented on #27
Current implementation uses `rclone lsl` to get target and create a file manifest to determine whether any of the files in the cloud have changed since the last run (it will re-download if the cloud files have changed size, time stamp, or name).

Next step: Unit tests.

Other issues added to outline:
 - Add utility for other builders to get their source lists from lists of files in the cloud. I.e.

[2017-02-06 18:59] gentzkow commented on #52
Thanks @lboxell. I would vote we not reconsider Google Drive. I'm happy with the Dropbox solution.

I do think the ability to download specific revisions is very valuable. I also think it would be ideal if we don't embed the rclone vs other tools decision too deeply into our scons library / workflow -- ideally, different users could be choosing different tools to do the downloading and everything

[2017-02-06 21:18] lboxell commented on #52
@gentzkow,

I agree it would probably be good to discuss at noodles tomorrow.

Some thoughts for discussion:
 - Currently, the only place where we would want to download specific revisions is when using raw data that is not derived from another repo (our current release protocol already takes care of versioning). In #27, I have code that will check whether the size, time stamp, or name from dropbo

[2017-02-06 23:03] gentzkow commented on #52
Thanks @lboxell. I look forward to discussing tomorrow.
--

Matthew Gentzkow
Professor of Economics
Stanford University

[2017-02-06 23:44] lboxell commented on #27
Continued work on this should probably wait until the discussion from https://github.com/gslab-econ/gslab_python/issues/52#issuecomment-277778135 is finalized.

[2017-02-07 21:42] lboxell commented on #52
Closing task.

Summary from task + discussion at Noodles:

 - Stick with Dropbox. (Though google drive isn't as bad when using RClone).
 - We probably don't need to create our own dropbox builder, as RClone works pretty well.
 - We are unsure whether we want to have the raw data download being part of the scons framework or a manual step that the user does, because we want `scons` to be error free

[2017-02-07 21:42] #52 closed

[2017-02-07 21:45] lboxell commented on #27
Closing task.

Summary:
 - Per #52, we are unsure whether we want data download to be part of the scons framework and so we are putting this task on hold until the next template review.
 - The code is currently written to download data using a yaml externals file and to create a file manifest that tracks whether raw data has changed in size, timestamp or name since the last download. If it has cha

[2017-02-07 21:45] #27 closed

[2017-02-07 22:22] gentzkow commented on #27
@lboxell: Let's make sure we remember to revisit this when we next discuss the template. It sounds like the work you did here is valuable and we'll want to incorporate it one way or another.

[2017-02-07 22:43] lboxell commented on #27
@gentzkow,

Sounds good. I envision we'll go through the admin outline the next time we do a team review, so that should spark our memory to reconsider this.

[2017-02-08 01:33] lboxell commented on #39
@stanfordquan:

 Note that #45 makes unit tests system independent. So, in some sense this task doesn't seem necessary. I think we'll want to have system dependent 'integration' tests, but that may be something for the next round of template/scons changes. Perhaps, this would be a good thing to put on the outline for the next round along with a general note about implementing 'integration' tests?

[2017-02-08 01:34] lboxell opened #57 "Fix windows bug in stata"
See https://github.com/gslab-econ/template/pull/35#issuecomment-277465418. Fix both the gslab_python and template side of things.

[2017-02-08 01:36] lboxell commented on #29
Closing task.

Summary:
 - Updated template ([here](https://github.com/gslab-econ/template/pull/35#issuecomment-277465418)) to use the "paths" interface for defining relatives paths using yaml files.
 - Follow up task is https://github.com/gslab-econ/gslab_python/issues/57 to fix windows bugs discovered in the PR of this issue.

[2017-02-08 01:36] #29 closed

[2017-02-10 18:57] M-R-Sullivan commented on #45
Still under PR at #49.

[2017-02-11 00:30] stanfordquan commented on #39
Good idea. I'll put it on the outline.

[2017-02-11 00:30] #39 closed

[2017-02-18 01:10] stanfordquan commented on #28
Done! See [template pull request](https://github.com/gslab-econ/template/pull/27) and [gslab-python pull request](https://github.com/gslab-econ/gslab_python/pull/47)

[2017-02-18 01:10] #28 closed

[2017-02-21 22:07] M-R-Sullivan commented on #45
Still under PR at #49.

[2017-02-25 20:52] stanfordquan commented on #57
I'll look at this and pull the change into `dev_four` as part of the 4.0 release

[2017-02-25 23:04] stanfordquan commented on #57
I found the bug. It's indeed interesting, so I document it here for GSLab posterity (especially for those working on Windows).

In Python 2.7 and subsequent, both of the following code snippets return `True`:

[code]

[code]

Basically you need to escape the percent sign with another one _only_ when you're doing a substitution, but not otherwise. This behaviour can make things very confusing when

[2017-02-25 23:08] stanfordquan commented on #57
@lboxell please find only relevant pull request [here](https://github.com/gslab-econ/template/pull/37). This bug is not related to gslab_python stata builder --- it rests entirely in the template's setup.py. Everything should work as intended now.

[2017-02-27 23:53] stanfordquan commented on #57
Pulled [template branch](https://github.com/gslab-econ/template/pull/37). Issue closed!

[2017-02-27 23:53] #57 closed

[2017-03-06 16:11] M-R-Sullivan commented on #45
I merged this issue's changes into `master` after finishing peer review at #49.

**Summary**
- I expanded the coverage of `gslab_scons`'s tests.
- I mocked out most external dependencies of `gslab_scons`'s.
- I identified [these items](https://github.com/gslab-econ/gslab_python/pull/49#issuecomment-284099311) as potential problems with `gslab_scons` that we may want to consider addressing at some

[2017-03-06 16:11] #45 closed

[2017-03-25 22:37] stanfordquan opened #58 "Prepare for 4.0 release"
This task will prepare a [changelog](http://keepachangelog.com/en/0.3.0/) for `gslab_python` and `template` 4.0 release. In particular:

1) Document new & removed features, bugs fixed, and changes in existing functionality. Document where they happened.

2) Document required changes to existing projects' templates due to backward incompatibility.

3) Ping PIs for review.

[2017-03-28 17:20] M-R-Sullivan opened #59 "Fix gslab_scons.release.py's size warnings"
Our release.py script doesn't ignore non-versioned files when issuing size warnings if they are not explicitly listed in the .gitignore. The goal of this issue is to edit the script so that it ignores files in directories listed in the .gitignore and whose paths are captured by glob patterns in the .gitignore.

Also, from the outline:

[2017-03-29 20:40] lboxell commented on #58
@stanfordquan,

Some thoughts on this:
 (1) I think our pull-request + squash & merge protocol should take care of this for us. As they will document what was added and when for the major changes (and I'm not sure we want to be documenting the smaller changes).
 (2) I think the same thing in (1) would apply here too. So, we have some dev-4 template branch, and then that merge into the master branc

[2017-04-10 16:23] stanfordquan commented on #58
On hold until #59 is done

[2017-04-11 22:02] lboxell opened #61 "Propose solution to scons target out-of-date issue"
See https://github.com/gslab-econ/congress_text/issues/172#issuecomment-293354138.

[2017-04-11 22:11] M-R-Sullivan commented on #59
Update: under PR at #60.

[2017-04-12 00:04] lboxell commented on #61
Adding the following to template fixes the issue but makes things run more slowly because we have to parse the .sconsign.dblite many times and calculate the content signature. However, there should be ways to speed things up and this gives a general outline of what to do to fix the situation. I tested it on the template by manually editing build/data/data.txt and re-running scons, which caused the

[2017-04-12 00:24] lboxell commented on #61
@gentzkow @jmshapir,

In https://github.com/gslab-econ/congress_text/issues/172#issuecomment-293354138, we discovered a pretty fundamental flaw in how we've been using the scons framework with version control. Consider the following example.

Assume the directory has the following tree:
[code]
(1) Person A and Person B both have a complete data build.
(2) Person B updates the data build by modifyi

[2017-04-12 00:58] lboxell commented on #61
See template branch [here](https://github.com/gslab-econ/template/blob/gslab_python%2361/SConstruct) with edited code.

[2017-04-12 01:00] gentzkow commented on #61
Thanks @lboxell.

I worry that adding hacks like this is going to move us toward a progressively more buggy and less stable system. Whenever possible we want to be using SCons the way it was designed to be used. If that runs into problems, it probably means we're doing something wrong.

I guess our original sin here (i.e., deviation from the way SCons would be used in a software company) is versio

[2017-04-12 01:39] lboxell commented on #61
Email from [@mirajshah](https://github.com/mirajshah) at Brown.

(2) Similar to your instinct, we believed that we needed to solve this problem immediately, as we will very often trade off runtime to gain correctness in a research context. Using the commit in the linked thread above as a reference, I wrote a simple [decider function](https://gist.github.com/mirajshah/2eb4bffe2c0363d67d1ab5af071af4

[2017-04-12 01:42] lboxell commented on #61
@gentzkow,

FYI, see comment above. It looks like the Hastings-Shapiro lab implemented a similar solution (I'm less inclined to call it a "hack" now) to the issue and it has at least been discussed as a possible feature to be added to SCons.

I'll try and talk to the team tomorrow to see what we think about the pros-cons of both options.

[2017-04-12 18:44] lboxell commented on #61
@gentzkow,

Overall summary of team's (@M-R-Sullivan, @arosenbe, and myself) perceptions: We think its worthwhile at least trying out the new decider function to see how it works in practice.

More details:

Pros of not versioning .sconsign.dblite:
 - No out-of-date targets not being run.
 - We do what "real people" do.
 - The scons native decider function is faster (but it would be easy to add a

[2017-04-13 18:08] gentzkow commented on #61
Thanks.

Did you guys look at the repository method
<http://scons.org/doc/2.1.0/HTML/scons-user/c3932.html>? Does it look like
this could be a substitute for cache?
--

Matthew Gentzkow
Professor of Economics
Stanford University

[2017-04-13 20:29] lboxell commented on #61
@gentzkow,

I recant on my previous statements. While looking into the repository method, I realized my understanding of cache was wrong. It looks like scons stores things based on their build signature in the cache and that it can calculate the build signature of a target without having access to the .sconsign.dblite. The below shows this:

[code]

Thus, it looks like if we don't version the .sco

[2017-04-13 21:37] gentzkow commented on #61
OK. That's good news.

Can you remind me what the build signature is? This is some combination of the hashes of all the input files so it allows SCons to tell that a file stores in the cache is the correct one to retrieve?

As far as switching branches: Can you remind me what the out of date target issue would look like in this case? I would have thought this would be different than the Person A /

[2017-04-13 21:58] lboxell commented on #61
@gentzkow,

Your statement regarding the build signature matches my understanding ("some combination of the hashes of all the input files so it allows SCons to tell that a file stores in the cache is the correct one to retrieve").

For the out-of-date target issue, I think you're right again. I agree now that I don't think there should be an issue with switching branches because the .sconsign.dbli

[2017-04-13 22:52] gentzkow commented on #61
OK. We're all good then.

Out of curiosity: Did you get a sense of how the repository option works?
Any reason you'd see we ought to be using that?
--

Matthew Gentzkow
Professor of Economics
Stanford University

[2017-04-14 16:25] lboxell commented on #61
@gentzkow,

The repository and cache are somewhat similar, but from my understanding there to two main differences:
 (1) The repository can store source files, not just targets.
 (2) If you use a repository, then scons essentially looks at the union of the repository and your local directory to create the build and treats objects in the repository as if they were sitting in your local directory. F

[2017-04-14 22:45] gentzkow commented on #61
Ok. Sounds like the repository method is worth keeping in mind as an option.
--

Matthew Gentzkow
Professor of Economics
Stanford University

[2017-04-14 22:48] lboxell commented on #61
Yup. Added a pointer in the admin outline to my comment above.

Closing this task.

Summary:
 - Decided that we will just not versioning the .sconsign.dblite file. This still leaves a change of a manual edit causing an out-of-sync target issue, but this will be a smaller issue.
 - https://github.com/gslab-econ/template/issues/40 was created to update template and related tasks accordingly.

[2017-04-14 22:48] #61 closed

[2017-04-17 21:21] stanfordquan commented on #58
On hold to wrap up Politext

[2017-04-19 22:19] M-R-Sullivan commented on #59
See this issue's pull request at #60.

[2017-04-19 22:19] #59 closed

[2017-04-19 22:32] M-R-Sullivan commented on #59
This passed PR at #60.

**Summary**:
- Fixed an issue causing size warnings to be issued for unversioned files.
- Removed size warnings from release.py and added them to the template in gslab-econ/template#42.

[2017-04-20 15:17] lboxell commented on #58
@stanfordquan @arosenbe @M-R-Sullivan @Shun-Yang,

If you don't have other tasks to do, it would probably be good to do no more than an hour of testing of the dev_four branches of gslab_python and template (they should be tested together). That way, we confirm there are no major bugs before MG/JMS review. If you see things that you think could be improved, but aren't bugs, it would probably be wor

[2017-04-20 15:29] gentzkow commented on #58
Thanks guys.

A standard we want to hit for the template is that it runs "off the shelf" robustly and with as little setup as possible required. I.e., if we send it to a new user whose machine is not configured to our setup, the setup is simple and clear, and the probability that they get an error the first time they run it is maximized.

I therefore think it would be valuable for you guys to:

1.

[2017-04-20 16:21] lboxell opened #62 "Test 4.0 on Mac"
See https://github.com/gslab-econ/gslab_python/issues/58#issuecomment-295779749

[2017-04-20 16:22] lboxell opened #63 "Test 4.0 on Linux"
See https://github.com/gslab-econ/gslab_python/issues/58#issuecomment-295779749

[2017-04-20 16:22] lboxell opened #64 "Test 4.0 on Windows"
See https://github.com/gslab-econ/gslab_python/issues/58#issuecomment-295779749

[2017-04-20 16:48] stanfordquan commented on #64
Resetting windows VM now.

[2017-04-20 17:29] arosenbe commented on #62
I've removed everything we list as a dependency and will now try to get template running again.

[2017-04-20 17:30] arosenbe commented on #62
I'll use this comment to track installation errors in sequential order

[2017-04-20 18:15] stanfordquan commented on #58
@lboxell in the original issue description, what I meant is we should have something like [Git's release notes](https://raw.githubusercontent.com/git/git/master/Documentation/RelNotes/2.12.2.txt).

[2017-04-20 18:30] lboxell commented on #58
@stanfordquan, That's what I thought you meant. I still think that everything is self-documented if we follow the squash-n-merge protocol (see https://github.com/gslab-econ/gslab_python/compare/master...dev_four). This clearly shows the major changes. If people want more information, its easy to click on a given merge and get more background information.

[2017-04-20 19:29] lboxell commented on #63
The metropolis-beamer template is going to be an issue for linux... I think we should not have it as a requirement and just use a native beamer template for the slides. For our projects, we can then switch which beamer template we use.

[2017-04-20 20:14] arosenbe commented on #62
I'll use this comment to make user-experience type sugegstions

*  The empty list at the end of this line looks ugly

[code]

[2017-04-20 22:03] stanfordquan commented on #64
How to add environment variables [Mac](https://apple.stackexchange.com/questions/106778/how-do-i-set-environment-variables-on-os-x) [Windows](https://superuser.com/questions/284342/what-are-path-and-other-environment-variables-and-how-can-i-set-or-use-them)

`gslab_python` doesn't actually require Stata MP, just a Stata.
We should specify `%STATAEXE%` vs `StataMP-64.exe` paths for Windows?

Be mor

[2017-04-20 22:21] gentzkow commented on #63
Yes. I agree with making the default a build-in theme.

I think we should apply this principle more generally: Make as many
requirements as possible optional rather than mandatory. E.g., can we allow
the template to work for someone who doesn't want to use R and/or Stata? Or
who wants to use latex rather than Lyx?
--

Matthew Gentzkow
Professor of Economics
Stanford University

[2017-04-20 23:10] stanfordquan commented on #58
Combined meeting notes:

Meeting note

- README requirements are not currently sequential.

- Make clearer instruction to install. Put more text into installation instruction, guide users through in a more appealing manner (have examples)

- Echo command for `user-config.yaml`.

- Allow stata-flavour yaml to be empty. Change stata-flavour to stata-exec. Make comment that Windows user can specify `

[2017-04-20 23:24] lboxell commented on #58
@arosenbe @stanfordquan I edited the comment above and gave the task where I thought each item should be completed. Each person can probably close their testing task and open up the new task to implement.

[2017-04-20 23:24] #64 closed

[2017-04-20 23:24] lboxell commented on #63
Closing task.

Summary:
- Tested template on linux. See https://github.com/gslab-econ/gslab_python/issues/63#issuecomment-295870864

[2017-04-20 23:24] #63 closed

[2017-04-20 23:29] #62 closed

[2017-04-20 23:30] arosenbe commented on #62
See #58 [comment](https://github.com/gslab-econ/gslab_python/issues/58#issuecomment-295959587) for continuing work.

[2017-04-21 18:07] lboxell commented on #58
@stanfordquan,

Another item for gslab_python task:

 - Our get_stata_executable() function has the property that if you feed it a valid, non-stata executable it returns that executable. Perhaps we want to add a check that does something like (pseudocode):
[code]

[2017-04-21 18:12] stanfordquan commented on #58
@lboxell,

The original intention of our treatment of Stata executable is that the builder should

1) in the absence of user-specified executable, automatically search for common executables

2) if the user specifies some executable, use it verbatim.

I think we're not doing 1) very well since the yaml file need to be non-empty?

[2017-04-21 18:29] stanfordquan commented on #58
This task will now implement the above test comments specific for `gslab_python`.

- [ ] add master to pip install git+ssh://git@github.com/gslab-econ/gslab_python.git and other instructions [gslab_python task]
- [ ] drop default support for google drive in release [gslab_python task]
- [ ] The R builder is failing in Windows. Command line argument issue. Check if this hold true for others.
- [ ]

[2017-04-21 19:46] stanfordquan commented on #58
@lboxell, any use for the current stale branches?

[2017-04-21 20:02] lboxell commented on #58
@stanfordquan, As long as their noted somewhere on the outline (they contain ideas we hadn't decided whether we wanted to implement yet), you can delete them.

[2017-04-21 20:32] lboxell commented on #58
I've found that when there is an error within a script (R, Stata, etc) the error output isn't very informative:
[code]

This was printed when lyx couldn't find a figure.

[2017-04-21 20:34] stanfordquan commented on #58
There are several things happening here.

The first bit is when you get a `CalledProcessError`. Is it actually because of a CalledProcessError?

The `atexit` error is because the builder didn't finish, so the log-time-reader fails. I'll explore the implications of that bug. I think a try-except block will do fine.

[2017-04-21 20:36] lboxell commented on #58
Perhaps we should also point users to the sconscript log for errors in the script?

[2017-04-21 20:39] stanfordquan commented on #58
Good idea. I don't know how to separate a `CalledProcessError` into `no executable` vs `process failed` though.

[2017-04-21 21:06] stanfordquan commented on #58
Notes while I complete this task

[2017-04-22 02:53] stanfordquan commented on #58
When executable calls fail, it can be for any reason, but Python only see a binary of no-error/error. The best we can do is to suggest that either 1) something was not correctly specified or 2) tell user to go look in logs (which we format nicely).

I also realized that it's very cheap to create a Sublime Text syntax that automatically highlights gslab_python-raised errors (since we prefix all suc

[2017-04-22 16:14] gentzkow commented on #58
I haven't been following the whole thread, so apologies if this is
redundant, but on the Stata executable issue: Can we dramatically simplify
this by just (i) defining a default Stata executable for each platform;
(ii) allowing the user to specify an alternative in the user settings .yaml
file? We could have the test setup program issue a friendly error message
if Stata is not found suggesting tha

[2017-04-28 00:53] lboxell commented on #58
@stanfordquan,

I don't think switching from 'gslab_tools' --> 'gslab_python' will be a benign switch. I think when you install gslab_tools, it places all the underlying packages inside a gslab_tools distribution folder. Then when you switch the name to 'gslab_python' and install it, you create a gslab_python distribution folder. The issue is that then when you say 'import gslab_scons', it looks t

[2017-05-16 01:49] stanfordquan commented on #58
On hold.

[2017-05-30 21:19] stanfordquan commented on #58
Check @arosenbe 's comment on logging here
https://github.com/gslab-econ/template/pull/45#issuecomment-304318764

[2017-06-09 19:49] stanfordquan commented on #58
Note to self: add an `rclone` builder.

[2017-06-12 17:29] arosenbe commented on #58
@stanfordquan, see [here](https://github.com/gslab-econ/gslab_python/issues/52#issuecomment-278149640). We're not sure if we want data download to be part of the scons framework.

[2017-07-02 19:31] stanfordquan opened #68 "Remove Google Drive as default drive for `release.py`"
From the last meeting we agree that we should allow user to specify a release directory that is not Google Drive. My sense is that we can do that by changing

`release.py` line 35

[code]

where we move `USER` and `local_release` to `user_config.yaml`.

@lboxell, I think you're the most familiar with this code out of current lab members and are least likely to unintentionally break something while

[2017-07-02 19:32] stanfordquan commented on #58
I reviewed the code and it looks like we have accomplished all that we wanted from the last meeting except for changing `release.py` so that we stop releasing to Google Drive by default.  #68 should be the final task before releasing 4.0

[2017-07-03 18:29] stanfordquan opened #69 "Update tablefill builder with 4.0 logging machinery"
The builder for tablefill doesn't use any of the nice machinery we built for the other builders. We thought it may be a bit complicated to update them but then we realize a hackish way to get around it without having to touch legacy code (i.e. `tablefill.py`).

Basically we'll write another wrapper script for `tablefill.py` with a `__main__` function, and then calls it from subprocess as you would

[2017-07-03 23:30] stanfordquan commented on #69
See PR #70

[2017-07-03 23:30] #69 closed

[2017-07-08 16:52] lboxell opened #71 "Add reconfigure cache code"
For after 4.0 is released.

It seems that the cache reverts to single alphanumeric indexing of the cache instead of double alphanumeric indexing quite frequently, which causes scons to tell you to upgrade your cache. I've had trouble following the scons instructions directly to get the upgrade to work, but the code below should work (follow the instructions within it).

We should think about incor

[2017-07-11 17:55] stanfordquan commented on #58
Update: pull request for #68 is going on in #72

[2017-07-14 17:37] lboxell opened #73 "Allow tablefill to fill .tex documents"
Currently, tablefill isn't compatible with .tex. The goal of this task is to make it so.

[2017-07-18 19:49] arosenbe opened #74 "Discuss integration of SQL with SCons"
The goal of this issue is to discuss ways to integrate SQL queries executed against an external database into the SCons build framework.

[2017-07-18 20:21] arosenbe commented on #74
@mirajshah has put some (really good) work into this problem already. Here's a high-level overview of the method:

[2017-07-18 20:24] arosenbe commented on #74
@RoyalTS, see the https://github.com/gslab-econ/gslab_python/issues/74#issuecomment-316185600 above and feel free to put questions/insights here directly.

[2017-07-19 18:35] arosenbe opened #75 "Print traceback for python builder"
The current Python Builder will raise a custom error and message when a python process exits on error, but it doesn't print the traceback. The goal of this task is to get the Python Builder to print both our custom error and the traceback when a python process exits on error.

[2017-07-19 18:41] stanfordquan commented on #75
@arosenbe this was the `tablefill` implementation I was referring to.

[code]

[2017-07-19 18:52] arosenbe commented on #75
Under PR by @stanfordquan at #76.

[2017-07-19 18:52] #75 closed

[2017-07-20 17:33] stanfordquan opened #77 "Replace <*> with <source file name> in <sconscript_*.log>"
Suppose we have

` source/analysis/dofile.do`
` source/analysis/mfile.m`

writing to `build/analysis/`

Then they will overwrite `sconscript.log` under the current implementation.

We want them to write to

` build/analysis/sconscript_dofile_do.log`
` build/analysis/sconscript_mfile_m.log`

respectively.

This should also change the `log.py` particularly in the `os.walk` step to add a wildcard for

[2017-07-20 22:13] lboxell commented on #58
@stanfordquan,

Can we make figuring out the proper installation instructions so that `python setup.py install clean` deletes any older gslab_tools packages part of this release?

[2017-07-20 22:15] stanfordquan opened #78 "Make sure installation instruction removes older gslab_tools packages"
Particularly `python setup.py install clean`. May have to look into the directory where `pip install` goes. Limited within Python distribution.

[2017-07-20 22:16] stanfordquan commented on #68
PR #72

[2017-07-20 22:16] #68 closed

[2017-07-20 23:10] lboxell commented on #78
@stanfordquan @arosenbe,

Pip naturally removes older versions. Should we just tell users to install via pip? And maybe add a note about the other method but that it doesn't remove older installations which can cause issues with version changes?

[2017-07-20 23:10] stanfordquan commented on #78
Do you know why we had the `python setup.py install clean` instruction originally?

[2017-07-20 23:11] lboxell commented on #78
It is easier to use when you're testing locally and debugging. Otherwise, you have to push to github and then pip install.

[2017-07-20 23:12] stanfordquan commented on #78
I see. In that case I vote for switching the two methods (promote the `git install` and note the option to do `python setup.py install clean` with its caveats)

[2017-07-20 23:17] lboxell commented on #78
Closing task.

Pull request: https://github.com/gslab-econ/gslab_python/pull/79

[2017-07-20 23:17] #78 closed

[2017-07-23 05:36] stanfordquan commented on #58
We actually implemented everything listed in the checklists from the last meeting! 🥇🥇🥇🥇🥇🥇

PRs [here](https://github.com/gslab-econ/gslab_python/pull/81) and [here](https://github.com/gslab-econ/template/pull/52).

[2017-07-23 05:36] #58 closed

[2017-07-24 19:18] lboxell commented on #73
Closing task.

Pull request: https://github.com/gslab-econ/gslab_python/pull/82

[2017-07-24 19:18] #73 closed

[2017-07-24 19:25] lboxell commented on #71
On hold until post 4.0.

[2017-07-24 21:39] stanfordquan commented on #77
PR lives in #80

[2017-07-24 21:39] #77 closed

[2017-07-24 21:46] arosenbe opened #83 "Add coverage package to dependencies"

[2017-07-24 22:20] arosenbe commented on #83
PR passed at #84. Adds `coverage` to the dependencies needed to run unit tests.

[2017-07-24 22:20] #83 closed

[2017-07-26 02:40] stanfordquan opened #85 "Find way to speed up log.py"
The following code snipper in `log.py` is quite slow when there's a very large `build`.

[code]

My instinct is that there are two ways you can speed this up: 1) search targets in `sconscript` for directory and only look in those directory, and then use `grep` 2) use `grep` at the top directory.

I think this should be quick, if there indeed is a faster way. If not I think we may want to delay thi

[2017-07-26 15:31] lboxell commented on #85
Is the purpose of combining these logs so we have some form of the logs in version control? (If not, I don't see their purpose.)

[2017-07-26 16:17] stanfordquan commented on #85
@lboxell there were discussions about how we should present the logs to make it easy for the user as well as for version control purpose. See the pull request [here](https://github.com/gslab-econ/gslab_python/pull/47).

The improvement of this logging mechanism over v3 is that it's substantially easier for a user to see the logs in which their build steps failed.

[2017-07-26 16:41] arosenbe commented on #85
@stanfordquan, I have an implementation using CL tools that works on mac. I'd like to use your machine to
* Test it on Windows
* See if it's "fast enough" in your large repo.

[2017-07-26 17:04] lboxell commented on #71
Adding pointer to outline and closing this for now. This likely isn't the most important upgrade relative to what we may do post-4.0, but I think it should be added at some point.

[2017-07-26 17:04] #71 closed

[2017-07-26 18:51] arosenbe commented on #85
Definitely fast enough. Went through the entire large repo in less than two seconds on Mac.

[2017-07-26 19:02] stanfordquan commented on #85
Confirmed that this is super fast.

[2017-07-26 22:42] RoyalTS commented on #74
Thanks for the intro and all the information about what you guys have already come up with!

I'm currently involved in a project that involves TBs worth of data stored in AWS S3 that are then aggregated into intermediate tables stored in an AWS Redshift database. Even these intermediate tables are still extremely large and so it seems like doing at least some of the computation in DB rather than p

[2017-07-26 22:53] arosenbe commented on #85
Under PR by @stanfordquan at #87.

[2017-07-26 23:01] #85 closed

[2017-07-27 02:59] mirajshah commented on #74
Hi @RoyalTS, @arosenbe, I just received an update today that some of our technical lab staff here that they are formally setting up a presence on GitHub and have decided on how to release and license several tools, including the SQLTable Node. I believe I should be able to direct you both to it in the next 2 weeks or so.  Thanks for your patience on this!

[2017-07-27 19:32] arosenbe opened #88 "Update notes on release.py"
The notes on [release.py](https://github.com/gslab-econ/gslab_python/blob/be3e5342aa74a38a94a2b8d85122e528ff670d27/gslab_scons/README.md) have fallen out of sync with the code. (They still mention Google Drive!). The goal of this task is to bring them up to date.

[2017-07-27 19:39] arosenbe commented on #88
Some of the [documentation](https://github.com/gslab-econ/gslab_python/blob/be3e5342aa74a38a94a2b8d85122e528ff670d27/gslab_scons/release.py#L26) also seems to be out of date.

[2017-07-27 19:58] stanfordquan commented on #88
Good catch @arosenbe . The two commits above should have taken care of it.

[2017-07-27 22:05] arosenbe commented on #88
Summary comment. Updates documentation in release.py and its readme.

[2017-07-27 22:05] #88 closed

[2017-07-31 19:47] lboxell opened #89 "debrief error on new repo"
@stanfordquan,

Do the `issue_size_warnings` in `scons_debrief` only get printed to the `state_of_repo.log`? If so, I think we might want to remove them. I think there are two issues with the current setup:
 (1) I think [this line](https://github.com/gslab-econ/gslab_python/blob/master/gslab_scons/size_warning.py#L63) causes issues on a repo that has been cloned, but doesn't have any version histo

[2017-07-31 20:00] lboxell commented on #89
(1)'s issue is actually [here](https://github.com/gslab-econ/gslab_python/blame/master/gslab_scons/misc.py#L37).

[2017-07-31 20:08] lboxell commented on #89
For (1): We'll just add a try-except block and print 'No git version history' on failure.
For (2): We'll search for whether each folder in `lookin` exists before looking in it. If it doesn't, we just print a warning.

[2017-08-01 22:31] lboxell commented on #89
Closing task.

Pull request: https://github.com/gslab-econ/gslab_python/pull/90

[2017-08-01 22:31] #89 closed

[2017-08-01 23:02] lboxell commented on #89
Summary:
 - Fixed errors outlined in https://github.com/gslab-econ/gslab_python/issues/89#issue-246863522
 - Updated template to note versions 4.0.0 or later (see https://github.com/gslab-econ/template/commit/7229a9f8d6e4c6782aadeca0fa93973d9c5669df).

[2017-08-09 18:19] stanfordquan opened #91 "Create variant of size_warning.py to prevent commits of large files without git-lfs"
This task will:

- Create variant of our file size checker used for release, to prevent commits of large files when git-lfs is turned off.

- Ensure that .gitattributes stays stable even when git-lfs is turned off.

[2017-08-09 18:19] stanfordquan opened #92 "Change executable-finding behavior in Stata builder"
Code uses default path to a StataMP executable for mac or windows.

User is allowed to specify to the executable in config_user.yaml.

If neither path works and Stata dependencies are enabled, raise informative error.

[2017-08-09 18:21] stanfordquan opened #93 "Move top-level logs to release/"
Put state_of_repo.log, sconstruct.log, and whatever we use to log externals in release.

Should be the case that git status after a run of scons only shows assets that changed. This should be done in conjunction with `template` top-level reorganization.

If moving the sconstruct.log to release is taking a long time to figure out, reconsider.

[2017-08-09 18:26] stanfordquan opened #94 "Address concerns about builder logs and SCons targeting"
Builder logs are versioned but not targets. So pulling from the cache on a clean clone makes it look like all the logs were deleted.
Determine if we specify logs as targets.
Is there a one-to-one mapping between build steps and logs? Do we allow this mapping to be broken? Allow folder to be excluded in builder log searches.
What is the default name scheme for logs, and how flexible is it? Do we al

[2017-08-09 18:27] stanfordquan opened #95 "Builders should check whether specified targets exist post-run"
Determine if we raise an error or warning.
Implement the decision.

[2017-08-09 18:28] stanfordquan opened #96 "Write LaTeX builder"
Write a LaTeX builder with our logging functionality. See latexmk as something we might want to use.

[2017-08-09 18:28] stanfordquan opened #97 "Write Anything builder"
Use SCons's env.Command functionality to allow arbitrary build steps with our logging functionality.

[2017-08-09 18:29] stanfordquan opened #98 "Determine the syntax of R command line call"
Right now we use R CMD Batch. I'm pretty sure there was a good reason for that (maybe Windows?), so check past threads.

Check Google, R documentation, stack overflow, Tobias.
Make the change in the R builder if necessary.

[2017-08-09 18:52] stanfordquan opened #99 "Add cache reconfiguration code"
Can switch between one and two numeral naming.

#### Add our own instructions on configuring the SCons cache to the readme and add code to gslab_scons. See [here](https://github.com/gslab-econ/gslab_python/issues/71)

[2017-08-09 18:54] stanfordquan opened #100 "Write integration tests"
* Our unit tests only check that functions are called in the way that we expect. They don't check the actual output from any functions.
* Write integration tests that check the output of functions using previous integration tests from make.py framework as a starting point.
* We should only test the integration of features if the user has explicitly specified this option in gslab_python (e.g., `pyt

[2017-08-09 18:58] stanfordquan opened #101 "Prepare for 4.1.0 release."
Command center for the 4.1.0 release.

Sprint starts Monday, August 21 2017. Meetings are 9am each day in room 321 (except for Tuesday we'll be in room 224).  We may want to make adjustment for August 21 to meet earlier because of [the solar eclipse starting at 9am](https://www.timeanddate.com/eclipse/in/usa/palo-alto).

I divided tasks into blocks. Tasks in the same blocks are supposed to be work

[2017-08-14 23:48] stanfordquan commented on #101
@gentzkow , I have a draft plan for the sprint above. We can discuss this at Noodles tomorrow or next Monday if you'd like.

[2017-08-15 16:38] gentzkow commented on #101
Great. Let's discuss at Noodles.

[2017-08-15 16:38] gentzkow commented on #101
Re solar eclipse: How about if we move the Monday meeting to 8am?

[2017-08-15 22:56] stanfordquan commented on #101
8am Monday sounds great, thanks Matt. Meeting schedule posted above.

[2017-08-21 02:22] stanfordquan commented on #101
@yuchuan2016 @Shun-Yang please be reminded that we're having a meeting at 8 o'clock tomorrow, Monday Aug 21. Thanks!

[2017-08-21 02:29] stanfordquan commented on #96
@yuchuan2016 can you please also pull #102 in? You can make comments and I can edit the code. I think it'd be a useful introduction into how you may approach the LaTeX builder.

[2017-08-21 17:54] Shun-Yang commented on #98
@stanfordquan , I couldn't find where we have discussed about R command line call in the past threads. Let me know if you know anything or have a pointer to the thread.

[2017-08-21 17:57] stanfordquan commented on #98
@Shun-Yang Please see gslab-econ/template#56 (search for R CMD BATCH).

[2017-08-21 18:49] Shun-Yang commented on #98
@stanfordquan Thanks! I also found that, but I thought we may have discussed why we use `R CMD BATCH` before. Anyway, here is my deliverable:
### Options
3 options: `R CMD BATCH`, `littler` and `Rscript`.

### Comparison

#### General:

`R CMD BATCH` is outdated as most current R users are using `Rscript` or `little r` for command line call.
There are few things that are inconvenient with `R CMD B

[2017-08-21 18:50] Shun-Yang commented on #98
@stanfordquan , see above, if you agree, I think I will go ahead and implement `Rscript`.

[2017-08-21 19:09] stanfordquan commented on #98
Go for it! Thanks @Shun-Yang

[2017-08-22 04:14] Shun-Yang commented on #98
Closing the task. Pull request is in #103. Summary: I investigated R command line calls and switched our builder from `R CMD BATCH` to `Rscript`.

[2017-08-22 04:14] #98 closed

[2017-08-22 17:53] stanfordquan commented on #92
Pull request #104.

[2017-08-23 00:37] yuchuan2016 commented on #96
Pull request created in #105.

[2017-08-23 00:37] #96 closed

[2017-08-23 00:50] stanfordquan commented on #97
[Another instance of searching for Scons help returning the gslab-econ/ra-manual.](https://www.google.com/search?q=does+scons+rerun+if+%22env%22+change+environment&oq=does+scons+rerun+if+%22env%22+change+environment&gs_l=psy-ab.3..33i21k1.5357.6538.0.6617.12.12.0.0.0.0.148.1063.5j5.10.0....0...1.1.64.psy-ab..2.9.915...33i160k1.XAWxObcFAxc). We're approaching gslab singularity.

[2017-08-23 01:01] stanfordquan commented on #97
@gentzkow

Hi Matt. The anything builder that I came up with use a `do` argument in the environment passed to the builder to read what the code it should run in the terminal is. However this is bad because when this `do` argument change, Scons does not recognize that the action has changed.

I see three options:

- Force user to write down this `do` argument in a script (does not have to be `sh`,

[2017-08-23 14:21] gentzkow commented on #97
Hmm. I would have thought we want the builder to replicate as closely as possible what the Command builder does, with the added logging. Can we not keep the syntax identical to the Command builder?

[2017-08-23 18:10] Shun-Yang commented on #93
@stanfordquan Please refer to gslab-econ/template#2. I tried with some attempts to move sconstruct.log and state_of_repo.log to release/ directory but didn't succeed. The issue seems to be that the python command will be executed before all scons command run. I don't think there is a good and natural way to do this. We probably want to reconsider on this.

[2017-08-23 18:28] Shun-Yang commented on #93
Scratch the last comment. `atexit` works to change the ordering of the python calls.

[2017-08-23 18:30] stanfordquan commented on #93
Glad to help! Putting two other suggestions on record (you don't have to implement these, just keeping notes)

- Potentially fold `log_move` into `log_end` instead of extra line in `SConstruct`

- Use `env.Install()` and regex for `scons*.log` files

[2017-08-23 18:59] Shun-Yang commented on #93
Closing the task. Pull request is in #107 and parallel pull request is in gslab-econ/template#75.
Summary: change the `end_log` functionality to move logs to top level directory. Make the same changes in template.

[2017-08-23 18:59] #93 closed

[2017-08-23 19:54] stanfordquan commented on #92
Found a pre-existing error in `configuration_tests.py`, where this get printed if you enter nothing into the stata_executable prompt (which is bad!). You don't get it if you enter None or your actual executable.

[code]

[2017-08-23 20:06] stanfordquan commented on #92
Turns out I already fixed that... I was on `master` instead of `4.1.0` in `gslab_python`.

[2017-08-23 20:06] #92 closed

[2017-08-23 20:40] yuchuan2016 opened #108 "Fix unit tests in the current builders"
After #92 #98 are merged, the unit tests fail for the R builder and Stata builder. We can fix them now or fix them after the rest are pulled in.

[2017-08-23 20:58] yuchuan2016 commented on #108
@Shun-Yang , can you explain a little about what's the meaning of the 2>&1 in the build you write?
```command = 'Rscript --no-save --no-restore --verbose %s %s > %s 2>&1' % (source_file, cl_arg, log_file)```

We need to also update the unit test for the builder. One step is to parse the command similar to [this](https://github.com/gslab-econ/gslab_python/blob/4.1.0/gslab_scons/tests/_test_helpers.

[2017-08-23 22:25] Shun-Yang commented on #108
@yuchuan2016 sure, Rscript output to stdout. I use `2>&1` to append stderr to stdout and write them both to `log_file`. I will take a look at the parsing code.

[2017-08-23 23:03] yuchuan2016 commented on #108
@Shun-Yang , great! Thanks. I think perhaps I can fix it (you can go ahead if you think it's more efficient for you to fix this). We also need to fix [this](https://github.com/gslab-econ/gslab_python/blob/bf7b5f0d414b20635c94511073fdee24bab1e91a/gslab_scons/tests/_side_effects.py#L37)

[2017-08-23 23:08] Shun-Yang commented on #108
@yuchuan2016 I spent sometime staring at the parsing code. I'm afraid that I won't be much help on this. Maybe you can go ahead and fix these?

[2017-08-23 23:37] yuchuan2016 commented on #108
@Shun-Yang , no problem. I have fixed 2 out of 3 errors in the R builder. I have one more question related to the last one. Do you have any particular reason why you delete [these lines](https://github.com/gslab-econ/gslab_python/blob/519e2cfa3a651579b2a7055764d74ae63b6bd4b0/gslab_scons/builders/build_r.py#L41)? Thanks!

[2017-08-23 23:52] Shun-Yang commented on #108
@yuchuan2016 , the `cl_arg` for `R CMD BATCH` is different from `Rscript`. For `R CMD BATCH`, if you want to pass command line arguments you need to do `'--args  argument1 argument2'`. For `Rscript`, you can directly pass in by `argument1 argument2`.

[2017-08-23 23:54] yuchuan2016 commented on #108
@Shun-Yang , thanks! I will change the tests correspondingly.

[2017-08-23 23:55] Shun-Yang commented on #95
My proposal is to raise an error. I can't see a scenario where we are okay with some targets not generated (in that case, we don't need to specify those targets in the first place). Someone [here](https://stackoverflow.com/questions/45096365/fail-if-target-was-not-generated) seems to try to do the same thing. Let me know if you see this differently @stanfordquan @yuchuan2016.

[2017-08-24 00:00] yuchuan2016 commented on #108
Pull request in #109.

[2017-08-24 00:00] #108 closed

[2017-08-24 00:01] stanfordquan commented on #95
I agree that raising the error is the way to go.

Should it be raised after a build step or after the complete build (`atexit`?) We're loading a lot of stuff into `atexit`, so we may want to abstract that out to an `atexit` function suite.

[2017-08-24 00:09] yuchuan2016 commented on #95
I agree. Shall we add this in `scons_debrief`?

[2017-08-24 00:51] Shun-Yang commented on #95
@stanfordquan  I would propose to raise an error after a build step instead of the complete build, as there is no need to continue building if an error arises.  @yuchuan2016 , What is `scons_debrief` and where I can find info on that?

[2017-08-24 01:04] yuchuan2016 commented on #95
Sorry for the confusion. It's a function in gslab_scons.misc. But if we want to raise error after each step, then it's of no use.

[2017-08-24 01:58] Shun-Yang commented on #95
Closing the issue. Pull request is at #110.
Summary: I added a functionality to check if prespecified target files exit or not after run. If not, an specific error will arise for the user.

[2017-08-24 01:58] #95 closed

[2017-08-24 17:16] Shun-Yang opened #111 "Fix release.py for the new top level structure"
We noticed that `release.py` does not work properly given our current top level structure. Need to fix it sometime.

[2017-08-24 20:48] yuchuan2016 opened #112 "Revisit unit tests after sprint"
Follow #109. Need to update unit tests after we make all changes outlined in https://github.com/gslab-econ/gslab_python/issues/101#issue-249128581.

[2017-08-24 23:39] Shun-Yang commented on #111
Closing the issue. Pull request is at #113.

[2017-08-24 23:39] #111 closed

[2017-08-25 05:32] stanfordquan commented on #97
@gentzkow,

I read into the `env.Command` a bit more --- what it does is that it generates a custom builder, with the custom `action` at the heart of the custom builder. I followed that approach, the syntax is now

[code]

The `env` argument has to be there because it's not automatically passed
, whereas `env.Command` is an env method of the `env` object. `env.Command` syntax is

[code]

The synta

[2017-08-25 18:08] Shun-Yang commented on #91
@stanfordquan @yuchuan2016 , I took a look on this, but not sure how to do this easily. It seems like we need something like a git hook (see [here](https://stackoverflow.com/questions/7147699/limiting-file-size-in-git-repository/7147764#7147764)). You can go ahead and take this task if you think you may be more familiar with this.

[2017-08-25 23:25] stanfordquan commented on #94
1) Builder logs are located where the output of a folder is, so whether they are being versioned depends on whether that folder is versioned.
    - If the folder is versioned, then you never need to pull anything from cache, so this is not a concern.
    - If the folder is *not* versioned, I don't see a significant cost of not having a `SConscript.log` when you pull from `cache`. The build obtaine

[2017-08-26 00:01] stanfordquan commented on #91
No idea what that is, but happy to learn it.

[2017-08-26 19:49] Shun-Yang commented on #91
I think I may have an idea.
1. Check if `git-lfs` is turned off first
2. If turned off, call a function in gslab_scons, that function will check if  `.git/hooks/` contains a hook named `check_size`
3. If not, will automatically create a size hook inside `.git/hooks/` with a pre-defined size limit.
4. The key will be to write such a hook, which I think has some templates online.

[2017-08-27 17:39] gentzkow commented on #97
This looks like a good solution to me @stanfordquan. Thanks.

[2017-08-27 18:47] Shun-Yang commented on #91
Besides the approach like above, another approach is ask the users to use `pre-commit` [platform](http://pre-commit.com/) and install different [hooks](https://github.com/pre-commit/pre-commit-hooks).

[2017-08-27 20:05] stanfordquan commented on #97
Thanks! Pull request in #114.

[2017-08-27 20:05] #97 closed

[2017-08-27 23:39] stanfordquan commented on #94
Note: improve IOError when  ` # move top level logs to /release/ directory.`

[2017-08-28 00:20] yuchuan2016 commented on #94
@stanfordquan , I'm not super familiar with the logging mechanism. See my comments below.
- I agree that we should not specify log file as targets. As you said, with the same source, everything in targets should be the same regardless of machine/time. Specifying logs as targets will violate this principle.
- Currently we force the log names to begin with `sconscript` and use `sconscript.log` as de

[2017-08-28 02:01] stanfordquan commented on #94
I see @yuchuan2016 .

I prefer that logs produced by `gslab_scons` be prefixed with `sconscript` and end with `.log` because that visually distinguish these logs with other logs which may or may not be produced by other programs. If the user wants to make it different for logs between `analysis.do` and `descriptive.do` she can use `log_ext`.

I'm fine with not allowing `log_location`. I don't see

[2017-08-28 02:33] yuchuan2016 commented on #94
@stanfordquan , thanks! Can we have the default name set as `sconscript_`+ source script name + `.log`? In that way, no log will be overwritten even if user do not specify `log_ext`.

[2017-08-28 02:38] stanfordquan commented on #94
Cool! I prefer the current implementation (opt-in rather than opt-out). @Shun-Yang you're the tiebreaker! (until PIs vetoed)

[2017-08-28 03:22] Shun-Yang commented on #94
@stanfordquan @yuchuan2016 , is the question that what name should the log file be? My opinion is to leave it as is (i.e. sconscript.log + log_ext). I don't think there are many scenarios we call multiple builders from the same directory. And even in that scenario `log_ext` is sufficient in my opinion.

[2017-08-28 12:37] arosenbe commented on #74
No new information yet.

[2017-08-28 15:17] arosenbe commented on #101
@stanfordquan, @Shun-Yang, @yuchuan2016

I'm back from vacation, and I've read through all the issue/PR threads. Any place it'd be particularly useful for me to jump in? I've only been assigned a **T** task.

[2017-08-28 16:08] stanfordquan commented on #94
Pull request opened in #115

[2017-08-28 16:08] #94 closed

[2017-08-28 16:39] Shun-Yang commented on #91
@stanfordquan @yuchuan2016 @arosenbe , I want to get your opinion on this. Essentially, in order to trigger a warning whenever a user commit a large file, we want to use pre-commit git [hooks](https://git-scm.com/book/en/v2/Customizing-Git-Git-Hooks). A git hook can be written in any executable language and is placed in the directory as `.git/hooks/pre-commit`. To accomplish this, we basically hav

[2017-08-28 17:49] yuchuan2016 commented on #91
@Shun-Yang , can we directly edit the `.git/hooks/pre-commit` in our template to add another check before commit, instead of writing our own script? The instruction of `pre-commit` is

Called by "git commit" with no arguments.  The hook should
exit with non-zero status after issuing an appropriate message if
it wants to stop the commit.

One of their example is to

which seems similar to what we w

[2017-08-28 17:53] Shun-Yang commented on #91
@yuchuan2016 , the problem is that the directory `/.git/` is not versioned and you probably don't want everyone to have the same git setup (they are likely to have their personal preference etc.).

[2017-08-28 17:54] yuchuan2016 commented on #91
Oh I see.

[2017-08-28 18:42] Shun-Yang commented on #91
Meeting notes: will just create two size limit if the user has lfs or not. Gonna abandon the whole hook thing.

[2017-08-28 19:41] stanfordquan commented on #101
Sprint status: 3 remaining open tasks for `gslab_python` (cache reconfiguration, size_warning.py, integration tests), 5 remaining open tasks for `template` (debrief doc, dependency automation, limit dependencies, and two raw data tasks).

We'll have 9am meetings in SIEPR third floor meeting room per usual. We are aiming to have the debrief meeting on Thursday, potentially not having completed inte

[2017-08-28 21:40] Shun-Yang commented on #91
If there is git-lfs, then files of type like *.pdf will be loaded with git-lfs regardless of the size. So we still need to specify a size warning for files like *.txt. Also, even for git-lfs, the free storage space is 2GB. If there is no git-lfs, we should set a smaller file size limit, warn people and also recommend them using lfs in this case. Note that github recommend the repo total size to be

[2017-08-30 08:10] Shun-Yang commented on #91
Closing the task. Pull request is at #118. Summary: I modified `scons_debrief` and `size_warning` to have different size limits if git-lfs not present.

[2017-08-30 08:10] #91 closed

[2017-08-30 23:19] arosenbe commented on #99
I've done a bit of searching, and it seems that the discrepancy in single vs. double indexing of the cache is related to the SCons version. Versions before 2.5.0 use single indexing and no `config` file in the cache, while versions after use double indexing and a `config` file to store that indexing information. [source](https://bitbucket.org/scons/scons/src/rel_2.5.1/src/CHANGES.txt?at=2.5.1&file

[2017-08-30 23:21] arosenbe commented on #99
@yuchuan2016, can you look over my suggestion at https://github.com/gslab-econ/gslab_python/issues/99#issuecomment-326145577? I'd lean toward packaging scons-local (which I think you have experience with) but am open to suggestions.

[2017-08-30 23:21] arosenbe commented on #99
@lboxell, thought you might be interested in https://github.com/gslab-econ/gslab_python/issues/99#issuecomment-326145577.

[2017-08-30 23:27] lboxell commented on #99
@arosenbe,

That seems consistent with what I'd seen before. For some reason, it was happening every so often in the lab still. I guess there could have been an old version of scons floating around on someones desktop/sherlock/etc.

[2017-08-30 23:37] arosenbe commented on #99
@lboxell I checked the current lab computers, and we're all now running SCons >= 2.5.0. Though I definitely could have been using an older version at the time.

[2017-08-31 15:37] stanfordquan commented on #101
We'll be having the last meeting of this sprint at 9am today in the third floor meeting room.

[2017-08-31 18:04] yuchuan2016 commented on #99
@arosenbe , great. I have nothing to add. Do we want to implement `scons-local` now?

[2017-08-31 18:23] arosenbe commented on #99
That'd be my vote. Are you cool with that?

[2017-08-31 20:24] arosenbe commented on #99
Under PR by @yuchuan2016 at gslab-econ/template#83.

[2017-08-31 20:24] #99 closed

[2017-09-01 15:25] arosenbe commented on #99
PR passed at gslab-econ/template#83.  Merge commit: https://github.com/gslab-econ/template/commit/8c91db5a464f69c4a5b0c34bb8d306f65428730b

Include zipped scons local distribution and SConstruct-level wrappers to execute the local scons. Updates README with
* appropriate instructions for getting started
* how to use system-wide scons installation
* pointer to problems with the cache

[2017-09-04 05:23] stanfordquan commented on #100
Task postponed to after sprint, will be assigned to Peter after onboarding.

[2017-09-04 20:00] stanfordquan opened #122 "Delete old local gslab_python versions upon both installation methods"
At the moment a developer/user can install gslab_python in two ways:

1) Clone gslab_python and run `python setup.py install clean`

2) Clone template (as of 4.1.0) and run `python config/config_python.py`.

The problem is that 1) writes the `egg` version into `site_package` and 2) writes both the `egg` and the subfolders (`gslab_blahblah`) into `site_package`. What this leads to is the following

[2017-09-04 23:29] arosenbe commented on #122
We want to warn the user, explain what's going on, and ask for permission before search and destroy. Also make sure this works on Windows (no idea about redirection in that setting).

[2017-09-05 00:56] arosenbe commented on #122
Under PR at #123. What a fun number.

[2017-09-05 01:43] arosenbe commented on #122
PR passed at #123.

`setup.py` now checks for any gslab-stamped packages (or gencat) in the default package installation location and deletes whatever it finds.

[2017-09-05 01:43] #122 closed

[2017-09-05 02:04] stanfordquan commented on #101
All tasks are complete. Pull requests are open in [template](https://github.com/gslab-econ/template/pull/85) and [gslab_python](https://github.com/gslab-econ/gslab_python/pull/125).

[2017-09-05 14:52] arosenbe opened #126 "Fix lingering issues with release.py"
* [x] We use `git status` to see if `.sconsign.dblite` has changed, but we no longer version `.sconsign.dblite`. Now look for any changes in repo since last commit.
* [x] We default to system installation of scons and don't allow overwrite with a local installation. Make local default.
* [x] Typo here (in `provenance.py`)

[2017-09-05 16:22] arosenbe commented on #126
Under PR by @stanfordquan at #127.

[2017-09-05 16:22] #126 closed

[2017-09-05 19:51] stanfordquan opened #128 "Limit make_provenance() run time"

[2017-09-05 19:52] stanfordquan opened #129 "Propose improvements to gslab_python release schedule"

[2017-09-05 19:54] stanfordquan opened #130 "Check and enforce principle for uncoupling gslab_python from gslab template"
Our principle is that folder paths in `gslab_python` should have defaults that match the folder structure in `template`, but these should be easily modified.

This task should double check that this principle is upheld in `gslab_python` codebase

[2017-09-06 00:22] arosenbe commented on #128
Need to ensure appropriate number of new lines when writing readme to provenance. Need to ensure the syntax works on windows.

[2017-09-06 00:46] arosenbe commented on #128
The find_for_me option in append_sub_provenance can be slow in large repositories. I'm also no longer sure we need the function if we're going to be running from the SConsctruct each time.

[2017-09-06 16:40] arosenbe opened #131 "Change provenance to state_of_inputs"
We currently create static provenance files at release. We want these to be dynamic and produced at runtime (on `scons`). The idea is to record the state of local copies of external inputs. See https://github.com/gslab-econ/template/issues/86#issuecomment-327526608 for details.

The goal of this task is to implement this change. It will, among other things, purge provenance creation from the relea

[2017-09-06 16:42] arosenbe commented on #128
Balled into #131. Summary comment.

Enforces a binding file limit on the walk through the directory whose content is being recorded.

[2017-09-06 16:42] #128 closed

[2017-09-06 23:44] stanfordquan commented on #131
PR in #132

[2017-09-06 23:44] #131 closed

[2017-09-06 23:51] arosenbe commented on #126
PR passed at #127.
* Use `git status` to check state of working tree, not (unversioned) .sconsign.dblite.
* Default to `run.py` installation of SCons. Allow overwrites for other local/global installations.
* Update configuration checks for new SCons installation.
* Abstract a regex search in _release_tools.py.
* Fix typos and update readme.

[2017-09-07 22:24] arosenbe commented on #131
PR passed at #132. Summary comment
* Destroy all references to provenance.py
* Port walk engine from provenance.py to [record_dir.py](https://github.com/gslab-econ/gslab_python/blob/e8b0ecdb27513768fab83a5978ff975ec27a1306/gslab_scons/record_dir.py)
* Create record_dir.py to record some characteristics of files in a directory and append the characteristics to a log.

[2017-09-07 22:25] arosenbe commented on #128
Work completed. See https://github.com/gslab-econ/gslab_python/issues/131#issuecomment-327942840 for summary.

[2017-09-07 22:36] arosenbe commented on #129
Assigning everyone so this doesn't silently get stale

[2017-09-07 22:36] arosenbe commented on #112
Assigning myself so this doesn't silently get stale.

[2017-09-07 22:37] arosenbe commented on #100
Assigning myself so this doesn't silently get stale.

[2017-09-07 22:38] arosenbe commented on #130
@stanfordquan, @yuchuan2016, @Shun-Yang

Anyone want to do this task? I'm probably not optimal since I wasn't here for a lot of the code changes at the start of the sprint. It's also the last item for the milestone before the PIs take another look.

[2017-09-11 20:22] stanfordquan commented on #130
Collecting points where we couple directory structure with `gslab_python`.

[2017-09-11 20:44] #130 closed

[2017-09-12 02:31] stanfordquan opened #134 "MG: Review 4.1.0"
Hi Matt,

We are about to release `gslab_python` and template v4.1.0. Release notes are [here for template](https://github.com/gslab-econ/template/pull/85#issuecomment-327258103) and [here for `gslab_python`](https://github.com/gslab-econ/gslab_python/pull/125#issuecomment-328713637). Please install `gslab_python` and clone template, each from the branch `4.1.0`.

The task list was [here](https://

[2017-09-12 02:31] stanfordquan opened #135 "JMS: Review 4.1.0"
Hi Jesse,

We are about to release `gslab_python` and template v4.1.0. Release notes are [here for template](https://github.com/gslab-econ/template/pull/85#issuecomment-327258103) and [here for `gslab_python`](https://github.com/gslab-econ/gslab_python/pull/125#issuecomment-328713637). Please install `gslab_python` and clone template, each from the branch `4.1.0`.

The task list was [here](https:/

[2017-09-12 03:41] stanfordquan commented on #101
Review tasks opened in #134 #135

[2017-09-12 03:41] #101 closed

[2017-09-18 02:37] arosenbe opened #136 "Single file state of inputs"
The current state of inputs function mixes up absolute and relative paths when it's working with a single file. Switch absolute to relative to switch this.

Also, to cycle over all site package installation locations, not just the first default and use some error catching. I was having trouble installing gslab_python on my home macbook.

[2017-09-18 02:41] arosenbe commented on #136
Under PR at #137.

[2017-09-18 02:41] #136 closed

[2017-09-18 16:07] arosenbe commented on #74
No new information yet.

[2017-09-18 21:15] arosenbe commented on #136
PR passed at #137.

* Corrects path for single files in state of inputs.
*  Loops over site package locations (with error catching) to search and destroy old versions.

[2017-09-25 14:59] arosenbe commented on #129
No work done yet.

[2017-09-25 15:00] arosenbe commented on #112
No work done yet.

[2017-09-25 15:00] arosenbe commented on #100
No work done yet.

[2017-09-28 14:31] jmshapir commented on #135
Started work on this. Installed ```gslab_python``` successfully in a virtualenv.

Three notes from this step:

1. Readme [here](https://github.com/gslab-econ/gslab_python/blob/4.1.0/README.md) still says 4.0.1 at the top.
2. I got an error from setup.py despite a clean install of site. I was able to move past this by  commenting out the relevant section of setup.py.
[code]
3. I had to upgrade my M

[2017-10-04 17:37] arosenbe commented on #74
See a description of an integration between SCons and SQL at https://github.com/gslab-econ/gslab_python/issues/74#issuecomment-316185600. I'll reopen and update if any updates are made per https://github.com/gslab-econ/gslab_python/issues/74#issuecomment-318244820.

[2017-10-04 17:37] #74 closed

[2017-10-09 21:21] stanfordquan commented on #134
@gentzkow Please be reminded of this review task. Thanks!

[2017-10-11 13:17] jmshapir commented on #135
I believe I've successfully installed ```gslab_python``` in my virtualenv:

[code]
But when I run python in this virtualenv it doesn't see our packages:
[code]
Any idea why? No need to spend a lot of time on this--just let me know if you see the issue.

[2017-10-12 05:31] gentzkow commented on #134
Thanks. Not forgotten! Just pushed behind some other things in the queue.

[2017-10-12 19:16] jmshapir commented on #135
On phone call we fixed the issue with installing gslab_python by running setup from inside the directory ```env/Scripts/gslab_python-4.1.0```.

We then used the virtualenv "activate" script to force all python commands (including scons) to use the virtualenv. We had to type ./activate rather than activate due to powershell security settings. Some discussion [here](env/Scripts/gslab_python-4.1.0).

[2017-10-12 19:23] jmshapir commented on #135
I got the analysis directory working.
I committed some results [here](https://github.com/gslab-econ/template/tree/4.1.0-jmstesting) just for illustration. The only remaining issue is a LyX crash that I'm pretty sure is unrelated to our tools.

@stanfordquan now that this is working, from your standpoint is the main thing left just for me to look it over to make sure I'm ok with the structure?

[2017-10-12 19:32] stanfordquan commented on #135
Yes, thanks @jmshapir. You can also look through the release notes [here for template](https://github.com/gslab-econ/template/pull/85#issuecomment-327258103) and [here for `gslab_python`](https://github.com/gslab-econ/gslab_python/pull/125#issuecomment-328713637) to see if there's a feature you'd like to try out/comment on.

[2017-10-13 14:17] jmshapir commented on #135
Great, thanks. I haven't tested the release protocol but everything else makes sense to me.

[2017-10-13 14:17] #135 closed

[2017-10-16 15:20] arosenbe commented on #129
No work done yet.

[2017-10-16 15:20] arosenbe commented on #112
No work done yet.

[2017-10-16 15:20] arosenbe commented on #100
No work done yet.

[2017-11-06 16:43] arosenbe commented on #129
No work done yet.

[2017-11-06 16:43] arosenbe commented on #112
No work done yet.

[2017-11-06 16:43] arosenbe commented on #100
No work done yet.

[2017-12-04 16:42] arosenbe commented on #100
No work done yet.

[2017-12-04 16:43] arosenbe commented on #112
No work done yet.

[2017-12-04 16:43] arosenbe commented on #129
No work done yet.

[2017-12-06 18:07] arosenbe opened #140 "Fix order of operations in release"
* Avoid update to `sconstruct.log` during scons dry run

<details>
  <summary>Practical example</summary>

![screen shot 2017-12-06 at 10 02 59 am](https://user-images.githubusercontent.com/19935793/33677178-c2a30e6a-da6c-11e7-9883-33dcea8bfd23.png)

</details>

<p>

* Need to drop second [`upload_asset` call](https://github.com/gslab-econ/gslab_python/blob/d0697da5dee9befff2340a62cb47dc72f3c0fb31

[2017-12-06 22:30] arosenbe commented on #140
The commit above drop the second upload_asset call. This fix is a lot easier than the fix for the dry run. Here's the issue.
* Set up
    * gslab_python isn't allowed to know the path of the sconstruct.log
    * The path of the sconstruct.log is currently set in template's SConstruct.
    * The release to GH only includes the most recently committed versions
    * The release to "other local locat

[2017-12-19 17:36] arosenbe commented on #140
I went for the fix of executing the `git status` before the `scons --dry-run`. This makes the first attempt at a release successful if everything is in its intended state. I also noted the log changing behavior in the readme.

[2017-12-19 17:39] arosenbe commented on #140
Under PR by @stanfordquan at #141.

[2017-12-19 17:39] #140 closed

[2017-12-22 18:27] arosenbe opened #142 "Allow parallelization in MATLAB builder"
Our current builder copies a source script to cwd as `source.m`. This can create collisions when multiple SCons processes try to simultaneously copy different scripts to the same location. Proposed fix is to "path-stamp" the copied source file.

[2017-12-22 23:50] arosenbe commented on #142
Commit above hashes (sha1) the source script's path and appends it to `source_` when we copy the file contents to cwd. This pretty much eliminates the possibility of collisions when running matlab scripts in parallel.

[2017-12-22 23:51] arosenbe commented on #142
Under PR by @Shun-Yang at #143.

[2017-12-22 23:51] #142 closed

[2018-01-02 20:03] gentzkow commented on #134
Hi @stanfordquan,

Finally getting a chance to work on this.

I'm getting a bit stuck on an elementary step I'd appreciate your advice on: Right now I have Python 2.7.14 installed via Homebrew at /usr/local/bin/python2 plus the Python 2.7.10 installed as part of Mac OS at /usr/bin/python. By default, the executable for the former is 'python2' and the executable for the latter is 'python'. Naturall

[2018-01-02 21:22] arosenbe commented on #134
Hi @gentzkow. I also brewed my installation of Python 2.7.14, but I don't use the default python2 executable. Instead, I set my PYTHONPATH environment variable (in my bash profile) to the path of my brewed installation. This way `python` executes my brewed installation.

Our template recognizes this setup. The config script for the SConstruct loads the PYTHONPATH into the SCons environment, and Py

[2018-01-02 21:31] gentzkow commented on #134
(As an alternative, I installed 2.7.14 directly from the Python website [here](https://www.python.org/downloads/mac-osx/). This overrides the system's python executable so seems to work fine. So the only question is whether there's a way to make sure scons plays nice with homebrew-installed python.)

[2018-01-02 22:06] gentzkow commented on #134
Thanks @arosenbe.

Just to clarify:
1. How do you point 'python' in the terminal to the brewed version? (The current Homebrew installs to 'python2' by default.) Did you use an alias in .bash_profile?
2. If you're calling that binary, why do you need to use PYTHONPATH explicitly?

Other questions:
1. Where do I find documentation for the valid options in config_user and config_global?
2. I am tryin

[2018-01-03 14:53] arosenbe commented on #134
@gentzkow, the executable for my brewed installation is python (in usr/local/bin). I don't remember switching the defaults, but it's possible that I did. I get the "pointing" right by prepending usr/local/bin to my PATH in my bash_profile. This way 'python' references my brewed installation and not the default Mac installation. I've seen this path editing as best practice when using homebrew.

As

[2018-01-03 17:01] gentzkow commented on #134
Thanks @arosenbe. Sorry to interrupt your vacation! None of this is urgent, and we can defer until you're back. @Shun-Yang: feel free to jump in as well but also feel free to wait until you're back at work.

When you come back you can tell me what a seatrain is.

To my earlier questions:
1. I saw the FAQ. But it isn't clear (i) whether the 3 options shown for config_user.yaml are all the valid opt

[2018-01-08 16:10] stanfordquan commented on #134
Thanks @arosenbe for stepping in and answer these questions. My followups:

I'm not sure I understand your question correctly but this is my attempt at an answer. Re: (i), the available options for `config_user.yaml` are repo-dependent, and the ones shown in the FAQ are the ones needed to run the default template (with Stata). Since we haven't needed to use any user-specified option for, e.g., R,

[2018-01-08 16:35] arosenbe commented on #134
Thanks @stanfordquan, you just beat me to the punch. I'm filling in on @gentzkow's question 1 (ii) about default options in `config_global`.

The default options are just those appearing in the versioned file and [`external`](https://github.com/gslab-econ/template/blob/43b9f14e1028c0dde6e48ba1ea283dc85e70c9d6/README.md#what-is-config_globalyaml). We don't do software checks in config_global becaus

[2018-01-09 00:44] arosenbe commented on #129
No work done yet.

[2018-01-09 00:44] arosenbe commented on #112
No work done yet.

[2018-01-09 00:44] arosenbe commented on #100
No work done yet.

[2018-01-09 15:00] arosenbe commented on #134
@stanfordquan, I was thinking about @gentzkow issue with the homebrewed python executable named python2, not python. This seems like something that's likely to happen again, and we don't want a dependency to be

One thought is to apply the same behavior of the stata builder—try a default but allow a user override—to our other builders. I don't think this should be too tough since the machinery's a

[2018-01-11 00:02] gentzkow commented on #134
Thanks guys! I understand now about config_global.yaml. I had been thinking the prereq_git-lfs switch indicated that this was a place to list all software prerequisites.

[2018-01-11 01:41] gentzkow commented on #134
Small bug: In config/config_python.py line 8:

@v4.1.0 should be replaced by @4.1.0.

[2018-01-11 01:43] gentzkow commented on #134
Numbering notes from here on...

1. In order to run config/config_python.py user needs pip installed. Should be added to dependencies.

2. In order to run analysis scripts user needs numpy and matplotlib. Should be added to dependencies.

[2018-01-11 02:13] gentzkow commented on #134
3. I can now run the baseline template successfully, but when I first run the /analysis/ directory it takes a very long time -- it spends ~2min on "scons: Reading SConscript files ..." Should fix.

[2018-01-11 17:24] gentzkow commented on #134
4. I would think the debrief_args section of SConstruct should be part of config_global.yaml

[2018-01-11 17:58] gentzkow commented on #134
3. (revised) It's clearer now what's going on. For some reason on line 24 of SConstruct

the process stalls because it is waiting for some input from the user, though there is no prompt indicating that. It hangs on "scons: Reading SConscript files ..." indefinitely; if I press return it continues and finishes normally.

[2018-01-11 18:04] gentzkow commented on #134
5. I think it would be a good idea to revise the config_global and config_user scripts in the template so that each directory has both; each script has all valid options included, commented out if they are not needed; and each script include commented instructions explaining what each option means, what the default is if it's not specified, etc. This way these scripts are fully self-documenting.

[2018-01-11 18:19] gentzkow commented on #134
@arosenbe, @stanfordquan: Can you remind me the protocol we settled on for logging the state of external inputs / data assets? (Suppose I'd like to add an external data file to be used in the template and be sure that it's state will be logged.)

[2018-01-11 18:24] arosenbe commented on #134
@gentzkow, You add an `input` key to either/both `config_*.yaml` file. All the values under this key will be recorded in  `release/state_of_input.log`. We walk nested dictionaries but also accept single strings.

The name of the `input` key can be changed within template, and the log's name will automatically update to reflect the change.

Example [specification](https://github.com/gslab-econ/temp

[2018-01-12 22:16] arosenbe commented on #140
PR passed at #141. Summary
* Switches order of operations in release (check git before scons).
* Give all loggers their own files.
* Add code to determine if SCons is executing in dry-run mode.
* Toggle loggers off when SCons is executing in dry-run-mode.

[2018-01-29 17:57] Shun-Yang commented on #129
No work done yet.

[2018-02-01 22:44] gentzkow commented on #134
@arosenbe: I've now completed my review. Sorry it took so long! I have not had a chance to test all the different functionalities (e.g., I haven't experimented with the cache tools yet) but I was able to run everything and use the key pieces.

Overall it looks great. While I can see some areas for further improvement, I don't think it makes sense to delay any further.

I would vote that you open a

[2018-02-01 22:44] #134 closed

[2018-02-12 14:18] Shun-Yang commented on #129
No work done yet. (We probably should just spend an hour today to discuss a plan @arosenbe @stanfordquan @yuchuan2016 )

[2018-02-15 04:54] arosenbe opened #144 "Do gslab_python side of MG review for 4.1.0"
Tandem to gslab-econ/template#96.

[2018-02-15 18:45] arosenbe commented on #144
Under PR by @stanfordquan at #145.

[2018-02-15 18:45] #144 closed

[2018-02-20 16:03] arosenbe commented on #112
No work done yet.

[2018-02-20 16:03] arosenbe commented on #100
No work done yet.

[2018-02-26 18:42] Shun-Yang commented on #129
No work done yet.

[2018-03-02 19:12] arosenbe commented on #144
PR passed at #145:
* A new misc. function for returning user specified and default executables ([here](https://github.com/gslab-econ/gslab_python/blob/a6000253f598133956634697cc6995b11e96eb9c/gslab_scons/misc.py#L167)).
* An abstract class for the builders so that executables can be handled in a unified framework ([here](https://github.com/gslab-econ/gslab_python/blob/a6000253f598133956634697cc699

[2018-03-12 07:57] Shun-Yang commented on #129
No work done yet. (We probably should just spend an hour today to discuss a plan @arosenbe @stanfordquan @yuchuan2016 )

[2018-03-12 16:15] arosenbe commented on #100
Haven't started

[2018-03-30 03:04] stanfordquan commented on #129
[Against all odds](https://www.youtube.com/watch?v=NcwUtNdLFrs), the RA's had a meeting today to discuss the GSLab softwares release schedule. The three main tradeoffs that we perceive in managing releases are:

1. If there is a bug that makes GSLab softwares essentially unusable to a PI somewhere, we must fix and make a release ASAP.

2. It's costly to the user when we make an update (since they

[2018-03-30 03:15] stanfordquan commented on #129
@gentzkow @jmshapir please see the comment above. Thanks!

[2018-03-30 03:20] stanfordquan commented on #100
I propose to put this on the outline for next release and close the task for the time being.

[2018-03-30 03:20] stanfordquan commented on #112
I propose to put this on the outline for next release and close the task for the time being.

[2018-03-30 13:47] jmshapir commented on #129
The proposed schedule works for me, thanks.

[2018-03-30 15:41] gentzkow commented on #129
I definitely like the second bullet (trying wherever possible to only make backwards-compatible changes in gslab_python).

I think ongoing major releases that break the old template are very costly as you say. It's particularly bad if we are not going to want to go back and update older repositories so it means with high probability past repositories cannot be run with current code. What do you gu

[2018-03-30 15:44] stanfordquan commented on #129
I agree with the backward-incompatibility issue. In the past, virtually any update  on the template (e.g. a syntax change) is backward-incompatible since an existing user will have to switch to the new syntax. Now we will commit to handling the old case as well as the new case.

[2018-03-30 16:03] gentzkow commented on #129
To be clear, I don't think it's fatal to have incompatible changes to the template. But we don't want these to be reflected in gslab_python in a way that causes existing repos based on old templates to break.

That said, we do want to commit to template changes going forward that are as easy as possible to implement in existing repos.

[2018-03-30 21:25] stanfordquan commented on #129
Got it, Matt. How do you suggest we go forward from this task? I can put the above deliverable (with suggested modifications) in the wiki, or we can go further and set a release date (some time in July) and roll proposed new features into the next release date as well.

[2018-03-30 21:34] stanfordquan commented on #112
Closing this task and moving it to outline.

[2018-03-30 21:34] #112 closed

[2018-03-30 21:34] stanfordquan commented on #100
Closing this task and moving it to outline.

[2018-03-30 21:34] #100 closed

[2018-03-30 22:39] gentzkow commented on #129
The other issue that led to this task is the cost of releases themselves.

Let's say I make a small bug fix in gslab_python that doesn't cause any backwards incompatibility. What are the steps I'd need to take to release it and propagate it out to the team? Anything that would prevent me doing that in <5 mins?

I think in the past we were batching changes into large releases and viewing frequent r

[2018-03-30 22:48] stanfordquan commented on #129
Matt, your impression (5 mins) is consistent with ours. You need to make the change, release it, and then send out an email ("hey there's a new version!") and then everyone will pip install it.

Frequent releases are only costly insofar if we make bug fixes in template (because by definition template changes are backward-incompatible).

[2018-04-16 15:26] arosenbe commented on #129
No work on implementation yet.

[2018-05-02 15:57] gentzkow commented on #129
I think we are all agreed on the plan. Why don't you write it up in the RA manual.

I'm going to assume this is active, and so (i) head revision of gslab_python will be our current version, all active repos should run with it, and whenever there are small bug fixes the modification will be pushed out immediately (with a note sent around to the team that they should update). Let me know if any of t

[2018-05-03 01:44] stanfordquan commented on #129
I wrote it up [here](https://github.com/gslab-econ/ra-manual/wiki/Template-and-GSLab-Python-Development).

@Shun-Yang , can you please take a quick look there and see if you agree with everything I wrote and way I wrote it? You can close the issue as giving the OK. Thanks!

[2018-05-04 07:05] #129 closed

[2018-05-16 21:24] stanfordquan opened #146 "make_list_if_string-related bug"
@arosenbe I noticed that [this line](https://github.com/gslab-econ/gslab_python/blob/master/gslab_scons/builders/gslab_builder.py#L43) breaks if the input is `[]` instead of `['']` or `''`. Please let me know if this is not a quick fix as expected. Thanks!

[2018-05-16 21:31] stanfordquan commented on #146
It's a pretty straightforward "IndexError" because an empty list does not get acted on in `make_list_if_string()` so it wouldn't pass indexing at `[0]`.

[code]

[2018-05-16 22:00] stanfordquan opened #147 "Logging breaks if a folder has space in its name"
This is because the bash command breaks when you pass a folder with space in its name as we don't wrap it in quotes.

[code]

It's fairly standard to force a user to not have space characters in file and folder names, so I'm fine with not addressing this issue and instead making a note in template saying "we don't do this."

[2018-05-17 01:07] arosenbe commented on #146
Thanks @stanfordquan! Fix above.

[2018-05-17 01:10] arosenbe commented on #147
Thanks @stanfordquan! Fix above.

[2018-05-17 01:13] #146 closed

[2018-05-17 01:13] #147 closed

[2018-05-17 04:29] arosenbe opened #150 "Anything builder changes SCons env in place"
[This line](https://github.com/gslab-econ/gslab_python/blob/bdce68d18e87cc2fb315d645e90bf81a2004885a/gslab_scons/builders/build_anything.py#L43) changes the SCons `env`. This is a mutable object, so these changes are reflected outside the functions scope. This manifests when, for example, a log extension is set as default for all GSLab builders.

The solution is to copy the `env` inside the functi

[2018-05-17 04:59] arosenbe commented on #150
Ok, we can't copy the `env`, but we can use its [Clone method](http://scons.org/doc/0.97/HTML/scons-user/x1118.html) to do literally the same thing.

[2018-05-17 04:59] #150 closed

[2018-06-20 01:22] AakaashRao opened #153 "Add PyTest runner dependency"
I was installing GSLab Python on a new machine and needed to install [Pytest-Runner](https://github.com/pytest-dev/pytest-runner) via Pip before I could successfully run `pip install git+https://git@github.com/gslab-econ/gslab_python.git@master`. This dependency is not listed in the `readme.md`.

[2018-07-06 21:16] DavidRitzwoller opened #154 "#154 Installation is unsuccessful every other time"
Opening an issue for the following error:
![screen shot 2018-07-06 at 2 13 51 pm](https://user-images.githubusercontent.com/35339599/42400589-ff9defcc-8126-11e8-8563-91c97eebb84f.png)

The bug may be localized to anaconda users.

[2018-07-06 21:19] DavidRitzwoller commented on #154
@arosenbe confirms that the issue is not confined to anaconda users. I am investigating whether it is associated with the [deletion of old versions of GSLab_Tools. ](https://github.com/gslab-econ/gslab_python/issues/122)

[2018-07-11 01:17] stanfordquan commented on #154
Pulled into dev branch on #155 🦉

[2018-07-11 01:17] #154 closed

[2018-08-16 19:24] jmshapir opened #157 "Missing import in matlab builder?"
@arosenbe @DavidRitzwoller is it possible we're missing an ```import sys``` from the top of [build_matlab.py](https://github.com/gslab-econ/gslab_python/blob/7093ee9e6740a998a8f2503d74343bce7813d54c/gslab_scons/builders/build_matlab.py)?

[2018-08-16 19:37] arosenbe commented on #157
Yes. We are missing `import sys`. We'll fix it up today.

[2018-08-16 23:38] arosenbe commented on #157
Pull request for @z-y-huang in #158.

[2018-08-16 23:38] #157 closed

[2018-08-16 23:45] arosenbe commented on #153
@AakaashRao, that dependency is tracked in `setup.py`

https://github.com/gslab-econ/gslab_python/blob/7093ee9e6740a998a8f2503d74343bce7813d54c/setup.py#L74

 Funny that it was giving you grief though:

<img width="1019" alt="screen shot 2018-08-16 at 4 44 03 pm" src="https://user-images.githubusercontent.com/19935793/44240564-a36de780-a173-11e8-81be-5870d632fd9a.png">

I'm going to close, but LMK

[2018-08-16 23:45] #153 closed

[2018-08-17 20:15] DavidRitzwoller opened #159 "Remove unused argument in start_log"
vers appears to be unused in [start_log](https://github.com/gslab-econ/gslab_python/blob/bdce68d18e87cc2fb315d645e90bf81a2004885a/gslab_scons/log.py#L10) and should be removed, stored, or logged.

[2018-08-17 20:26] DavidRitzwoller commented on #159
PR at #160

[2018-08-17 20:26] #159 closed

[2018-09-20 19:34] jmshapir opened #161 "git-lfs command deprecated?"
I may be mistaken but I think the command git-lfs is no longer used as this functionality is available via command git. It should be possible to figure out whether I'm right using the [git-lfs docs](https://blog.github.com/2017-09-14-git-lfs-2-3-0-released/).

If I'm right we will likely need to update the way we check for git-lfs in configuration.

Example error below.
[code]

[2018-09-20 19:41] jmshapir opened #162 "reading windows paths"
I'm getting the error that LyX isn't on my path even though it is. (Example below.)

It could be an issue with how my path is set up. (I am on Windows.)

Can you give me a rough sense of the logic that the ```is_in_path``` function is using to find whether "lyx" is on path?

That might give us a clue about the source of the issue.

[code]

[2018-09-20 20:37] DavidRitzwoller commented on #162
@jmshapir In the `config_global.yaml` in `\Users\jshapir1\Documents\GitHub\Skills\paper_slides\`, can you change the `executable_names` for lyx to `lyx`? E.g

<img width="148" alt="screen shot 2018-09-20 at 1 36 26 pm" src="https://user-images.githubusercontent.com/35339599/45845523-33a2cd80-bcda-11e8-8ae8-3a13aecf5841.png">

[2018-09-20 20:46] mengsongouyang commented on #162
@jmshapir:
Not sure if it helps, but may I ask which version of gslab_python you are using and what's the gslab_version on your ```config_global.yaml```?

<img width="166" alt="screen shot 2018-09-20 at 1 45 07 pm" src="https://user-images.githubusercontent.com/39852362/45845995-6a2d1800-bcdb-11e8-821b-cf94b804c4a2.png">

[2018-09-20 22:08] Shun-Yang commented on #161
From wiki-page of the `git-lfs` repo:
<img width="862" alt="screen shot 2018-09-20 at 3 07 01 pm" src="https://user-images.githubusercontent.com/11802536/45849467-e842ec00-bce6-11e8-8d52-1453434d3ef1.png">

How to install page:
<img width="853" alt="screen shot 2018-09-20 at 3 07 54 pm" src="https://user-images.githubusercontent.com/11802536/45849493-fc86e900-bce6-11e8-8138-58058a87ebbc.png">

[2018-09-20 22:12] Shun-Yang commented on #161
@jmshapir, it seems like we still need to install `git lfs` per the above comment.

The error I'm guessing is that in the current code, we are using the command `git-lfs install` instead of `git lfs install`. Both work on Mac, but  `git-lfs install` may not work on Windows. I don't have a Windows machine on my side --- do you mind trying `git-lfs install` in your terminal?

If this fails, then thi

[2018-09-20 22:45] Shun-Yang commented on #161
`git-lfs install` seems to be working on @z-y-huang's windows computer.

Need to look more into what's wrong.

[2018-09-21 14:29] jmshapir commented on #161
@Shun-Yang see below. I could of course alias the command git-lfs to just point to the command "git" but that would just be a way to trick the config check.

[code]

[2018-09-21 14:31] jmshapir commented on #162
@DavidRitzwoller

![image](https://user-images.githubusercontent.com/7840353/45887345-7e2f5300-bd89-11e8-82a0-dfb5de9f38af.png)

[2018-09-21 16:15] Shun-Yang commented on #161
@jmshapir Thanks!  Your screenshot confirms that the command `git-lfs install`is indeed the issue. I think as long as we update our gslab_python code to use `git lfs install` for testing if one has git-lfs installed, then everything should work.

[2018-09-21 17:08] DavidRitzwoller commented on #162
Thanks @jmshapir. Returning to the logic of `is_in_path`, lets see if `os` is able to interact with your path environment variable in the way we expect it to.

Would you mind opening an interactive `python` or `ipython` session and sending the output of the following two scripts?

1. First, lets see if `os` is able to access your path environment variable, and further what it looks like.

[code]
W

[2018-09-21 19:47] jmshapir commented on #162
@DavidRitzwoller
1.
[code]

2.
[code]

[2018-09-21 20:10] DavidRitzwoller commented on #162
Thanks @jmshapir.

2. Sorry, there was a white space error in the second script that throws an error when not using ipython. Do you mind trying this corrected version?
[code]

[2018-09-21 21:42] jmshapir commented on #162
@DavidRitzwoller we are now on a different Windows PC. (But it gets the same error when scanning for LyX).

1 and 2:
[code]

3.
![image](https://user-images.githubusercontent.com/7840353/45907378-a50b7a80-bdc5-11e8-81f1-59044a0192aa.png)

![image](https://user-images.githubusercontent.com/7840353/45907388-accb1f00-bdc5-11e8-80d5-29a9c4d55a7c.png)

![image](https://user-images.githubusercontent.com

[2018-09-21 21:56] DavidRitzwoller commented on #162
@jmshapir I think I see whats going on.

On MacOS, we can check that we have access to the executable for `lyx` by checking if we have access to a file named `lyx` in each of the directories on our path. On Windows, I believe we will need to search to see if we have access to `lyx.exe` instead. Can you try the following?

[code]

[2018-09-21 23:28] Shun-Yang commented on #161
Bug fixed in branch `dev_4.1.3`. Will make a new release after #162.

[2018-09-21 23:28] #161 closed

[2018-09-21 23:46] jmshapir commented on #162
@DavidRitzwoller
[code]

[2018-09-21 23:50] DavidRitzwoller commented on #162
@jmshapir Great! I'll edit `is_in_path` to loop over both `lyx` and `lyx.exe`. That *should* get things working.

[2018-09-22 00:15] DavidRitzwoller commented on #162
@jmshapir Here's a short term fix until the branch`dev_4.1.3` is merged to `master`.

In the `config_global.yaml` in paper_slides, set `prereq_checks:` for lyx to No. E.g
<img width="567" alt="screen shot 2018-09-21 at 5 11 05 pm" src="https://user-images.githubusercontent.com/35339599/45910829-56f47800-bdc1-11e8-9959-81d9408ba306.png">

If don't want to turn off the `prereq_check`, the function `

[2018-09-22 00:16] jmshapir commented on #162
Thanks @DavidRitzwoller. Already turned off lyx-checking in the global config as a short-term fix. Thanks!

[2018-09-25 17:08] DavidRitzwoller commented on #162
Summary: In this issue, gslab_python was augmented to search for prerequisites on Windows operating systems. PR at #163.

[2018-09-25 17:08] #162 closed

[2018-10-16 13:47] jmshapir opened #164 "Error parsing gslab_tools version"
Using gslab_tools v. 4.1.2
My config_global calls for at least v. 4.1.1
I get the error below
Any thoughts?

[code]

[2018-10-16 16:02] Shun-Yang commented on #164
@jmshapir Do you mind changing ` 4.1.1` to ` 4.1.2` in `config_global.yaml`?

I can reproduce this bug by changing my version number to ` 4.1.1`. I'm not sure if this error is intentional, but the error message is definitely confusing. I'll take a look at what's happening.

[2018-10-16 20:42] jmshapir commented on #164
@Shun-Yang yup, that change kills this error.

[2018-10-17 05:51] DavidRitzwoller commented on #164
@jmshapir @Shun-Yang I found the bug causing the error. There was an issue with how we were parsing the version number for our package.

| Before | After |
|---|---|
| <img width="578" alt="screen shot 2018-10-16 at 10 47 13 pm" src="https://user-images.githubusercontent.com/35339599/47064798-adbd5980-d195-11e8-9c3b-e0efca1fc44b.png"> | <img width="777" alt="screen shot 2018-10-16 at 10 47 28 pm"

[2018-10-17 05:54] DavidRitzwoller commented on #164
Summary: In this issue, we fixed an error in how the version number of `gslab_python` is being read.

[2018-10-17 05:54] #164 closed

[2018-10-18 18:20] DavidRitzwoller opened #166 "Fix hanging matlab errors"
This is a follow up to [here](https://github.com/gslab-econ/gslab_matlab/issues/8).

When working [here](https://github.com/gslab-econ/divergence/issues/107), I noticed that build_matlab hangs when an error is encountered, rather than exiting and returning an error message.

@z-y-huang believes he fixed this bug in a separate project. I will start by testing his solution. He notes

[2018-11-05 23:02] DavidRitzwoller commented on #166
No work on this in past two weeks

[2018-11-26 23:40] DavidRitzwoller commented on #166
No work on this in past two weeks

[2018-11-28 22:21] z-y-huang commented on #166
[code]

[code]

First %s is program, second %s is log.

[2018-12-18 01:20] DavidRitzwoller commented on #166
no progress in past 2 weeks

[2019-01-30 00:54] DavidRitzwoller commented on #166
no progress in past 2 weeks

[2019-03-08 21:17] DavidRitzwoller commented on #166
no progress in past 2 weeks

[2019-03-20 01:46] DavidRitzwoller commented on #166
no progress in past 2 weeks

[2019-05-21 16:28] DavidRitzwoller commented on #166
no progress in past 2 weeks

[2019-06-04 05:17] DavidRitzwoller commented on #166
no progress in past 2 weeks

[2019-06-25 05:46] DavidRitzwoller commented on #166
no progress in past 2 weeks

[2019-07-03 21:37] mengsongouyang commented on #166
Seems that the cross-polar project encounters a similar issue. Details in [this post](https://github.com/gslab-econ/cross-polar/pull/55#discussion_r300093229) and the followings.

[2019-07-23 05:44] DavidRitzwoller commented on #166
no progress in past 2 weeks

[2019-08-13 05:48] DavidRitzwoller commented on #166
no progress in past 2 weeks

[2019-08-23 21:03] DavidRitzwoller opened #167 "Remove mmh3 dependency"
The new version of the Mac OS is incompatible with the python library [mmh3](https://pypi.org/project/mmh3/). See comment thread [here](https://github.com/hajimes/mmh3/issues/20), featuring @ryanedmundkessler. Anyone with a new mac will be unable to install gslab python. We currently call mmh3 only once, [here](https://github.com/gslab-econ/gslab_python/blob/ed691b837d69edd8b6b41fb8328a7eb2381017f

[2019-08-23 22:37] DavidRitzwoller commented on #167
We've confirmed that the package can be installed subsequent to the change implemented [here](https://github.com/gslab-econ/gslab_python/commit/9df4624cc82c7bd593eeca8f9a61da46e0a89d40). PR at #168.

[2019-08-23 22:37] #167 closed

[2019-09-10 05:48] DavidRitzwoller commented on #166
no progress in past 2 weeks

[2019-10-02 06:22] DavidRitzwoller commented on #166
no progress in past 2 weeks

[2019-10-22 06:07] DavidRitzwoller commented on #166
no progress in past two weeks

[2019-11-12 06:17] DavidRitzwoller commented on #166
no progress in past 2 weeks

[2019-12-10 02:40] DavidRitzwoller commented on #166
no progress in past 2 weeks

[2020-04-10 11:56] matthiaswd opened #169 "Create Mathematica builder"
Creates a mathematica builder complete with tests etc.

[2020-04-10 11:58] matthiaswd commented on #169
Above commit creates a working builder. Next up:

- create tests
- check that (error) log prints accurately

[2020-04-15 17:30] DavidRitzwoller commented on #166
no progress in past 2 weeks

[2020-05-05 15:22] DavidRitzwoller commented on #166
no progress in past 2 weeks

[2020-05-21 18:09] DavidRitzwoller commented on #166
no progress in past 2 weeks

[2020-06-09 04:55] DavidRitzwoller commented on #166
@mengsongouyang. I'm going to pass you this task for the time being

[2020-07-28 06:53] mengsongouyang commented on #166
No progress in past two weeks.

[2020-08-02 14:44] matthiaswd commented on #169
@jmshapir this issue is still at [this point](https://github.com/gslab-econ/gslab_python/issues/169#issuecomment-611999257):

I'd ideally like to add

- a file `test_build_mathematica.py` to the [tests](https://github.com/gslab-econ/gslab_python/tree/fce9a39110b274f4a1ce8c15cbdd901497c8625e/gslab_scons/tests) folder
- have the output from the Mathematica window print to the working directory if th

[2020-09-17 20:21] zkashner commented on #166
@Houdanait if you have some time and are willing to explore this issue that would be awesome!

[2020-09-17 20:22] Houdanait commented on #166
Yes ! @zkashner

[2021-01-07 14:09] veli-m-andirin commented on #169
@jmshapir, per [this comment](https://github.com/gslab-econ/gslab_python/issues/169#issuecomment-667682928) we had two goals remaining in this issue. I tackled the second one which is:

Previously, sconstruct.log in the root and sconscript.log in the target directories did not include any logs about errors. I changed the executable in gslab_scons/misc.py from `MathKernel` to `wolfram` and now erro

[2021-01-07 14:10] jmshapir commented on #169
@zkashner can you elevate @veli-m-andirin to write permission here? Thanks!

[2021-01-07 15:28] zkashner commented on #169
@jmshapir done!

[2021-01-20 13:51] veli-m-andirin commented on #169
@zkashner, sorry to bother, but could you check my write permission once again? I get the following error when I try to push changes:

[code]

I can't edit files on GitHub either. I removed my credentials and tried to log in after pushing but that didn't solve the issue.

[2021-01-20 14:11] zkashner commented on #169
@veli-m-andirin I looked into it and it says that your invite is still "pending". If you could please go into your email and search for this invitation I believe you need to accept it for you to have write access.
<img width="750" alt="Screen Shot 2021-01-20 at 7 10 30 AM" src="https://user-images.githubusercontent.com/12866049/105186104-96951100-5aee-11eb-9855-f40e60614eac.png">

[2021-01-20 14:18] veli-m-andirin commented on #169
Thanks @zkashner! My apologies for having missed this. Since I didn't accept it early enough it expired. Could you please send a new invite?

[2021-01-20 14:31] zkashner commented on #169
@veli-m-andirin just resent! Let me know if you get it please.

[2021-01-20 14:33] veli-m-andirin commented on #169
@zkashner, accepted, thanks!

[2021-01-21 10:04] veli-m-andirin commented on #169
@jmshapir,

- I've updated the builder. Now it prints a log of error messages to sconscript.log file in the target folder. To do so I changed the executable name from MathKernel to math (changing it to wolfram has the same effect). However, `math` is not used on macOS, so its users would need to change `line 180 in gslab_scons\misc.py` to `'mathematica': 'MathKernel' ` or rename MathKernel as math

[2021-01-21 15:04] jmshapir commented on #169
@veli-m-andirin great!

Yes, can you please open a PR?

@zkashner I'm assuming you're the right default reviewer for this, but if you prefer to kick it over to @yu-jia-wang or @Reese565 please feel free!

[2021-01-23 08:13] veli-m-andirin commented on #169
Thanks @jmshapir! The issue continues in PR #170.

[2021-01-23 08:13] #169 closed

[2021-02-19 20:10] Houdanait commented on #166
@zkashner @yu-jia-wang, linking this with [fix_latex_error](https://github.com/gslab-econ/gslab_make/issues/33 ) and i might have a suggestion for this

[2021-02-23 23:41] Houdanait commented on #166
Hi @yu-jia-wang, thanks for offering to check that the suggested change for Latex indeed works for Matlab as well. I have tried faking an error on a .m file and it worked. It would be great if we could actually test this on a repo with an existing hanging Matlab issue to make sure this work. We have just merged it to gslab repo so you should be able to check it out.
There is now a time out option

[2021-02-26 17:12] mcaceresb opened #171 "`cl_args` incorrectly passed to LaTeX builder"
In `gslab_scons`, the order in which `cl_args` and `target_name` are passed to the LaTeX builder is swapped. See [here](https://github.com/gslab-econ/gslab_python/blob/master/gslab_scons/builders/build_latex.py#L39). The order should be reversed.

[2021-12-29 10:20] veli-m-andirin opened #172 "SaveData for Python"
In this issue we'll bring in the Python implementation for SaveData that was created in another project, extend its functionality, and write unit tests.

[2022-03-31 17:00] veli-m-andirin commented on #172
Continues in #173.

[2022-03-31 17:00] #172 closed

[2022-04-30 11:44] veli-m-andirin commented on #172
Summary: In this issue we added a Python version of SaveData under `gslab_misc` directory.

Changes were merged into master in 38404bb.

Final state of the issue branch [here](https://github.com/gslab-econ/gslab_python/tree/2bd4ad416f5d5f8686d6da26f59112eb0a984b31).